.lc {
  //background-color: white;
  width: 100%;
  //text-align: center;

  .l {
    //max-width: 400px;
    //margin: 0 auto;
    //margin-top: 200px;
    margin: 55px;
  }

  .logo {
    height: 50px;
    margin-bottom: 10px;
    margin-left: -10px;
    //margin-top: -5px;
  }

  mat-card {
    .head-t {
      margin: 0;
      font-weight: normal;
    }
  }
}
