<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div project-sidebar page="page" current="current"></div>
            </div>
            <div>
                <div class="col-md-9">
                    <div class="panel panel-card">
                        <div class="panel-body p-b-25">
                            <h3 class="m-t-5">
                                Settings
                            </h3>
                            <div class="m-b-20">
                                <span class="pull-right">Created @ {{project.created_at | amFromUnix | amDateFormat: 'DD MMM\'YY HH:mm a'}}</span>
                                settings for {{project.git_name}} <br>
                                <a uib-tooltip="open in {{project.provider}}" href="{{project.uri}}" target="_empty">{{project.uri}}</a>
                            </div>
                            <hr>
                            <form name="editForm" ng-submit="saveSettings()">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="md-form-group">
                                            <input class="md-input" ng-model="project.name" placeholder="" required>
                                            <label>Name</label>
                                        </div>
                                    </div>
                                </div>
                                <button ng-disabled="editForm.$invalid" class="btn btn-stroke btn-rounded btn-primary" type="submit">Save</button>
                            </form>
                            <hr>
                            <h4>
                                Servers
                            </h4>
                            <div class="row">
                                <div class="col-md-4" ng-repeat="server in project.servers">
                                    <div class="b-a border-radius p-20 m-b-10">
                                        <a class="pull-right" href="view/{{project.id}}/{{project.name}}/server/{{server.id}}">View</a>
                                        <strong>{{server.name}}</strong> <br>
                                        <img src="assets/img/branch.svg" alt="branch" style="height: 14px"> {{server.branch}} <br>
                                        <small>@ <code>{{server.revision | sha}}</code></small>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h4>
                                Hook
                            </h4>
                            <div class="row">
                                <div class="col-md-4" ng-repeat="server in project.servers">
                                    <div class="b-a border-radius p-20 m-b-10">
                                        <a class="pull-right" href="view/{{project.id}}/{{project.name}}/server/{{server.id}}">View</a>
                                        <strong>{{server.name}}</strong> <br>
                                        <img src="assets/img/branch.svg" alt="branch" style="height: 14px"> {{server.branch}} <br>
                                        <small>@ <code>{{server.revision | sha}}</code></small>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h4>
                                Delete project
                            </h4>
                            <p>
                                This will erase the projects
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>