<% if(more == 'false'){ %>
<% if(s.cloned == 0 && activity.data.length == 0){ %>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="freshdeploy">
            <span class="title"><i class="fa fa-cloud-upload"></i> Get started.</span>

            <div class="space10"></div>
            To get started with pushing your changes to the server we need to update your server with all files.
            <br/>
            Lets start with fresh deployments, (All project files will be uploaded to the server)
            <div class="space10"></div>
            <button type="button" class="btn btn-success startdeploy">
                <i class="fa fa-coffee fa-fw"></i> Deploy all environments
            </button>
        </div>
    </div>
</div>
<div class="space15"></div>
<% } %>
<% } %>

<% if(activity.data.length && more == 'false'){ %>
<div class="project-record-list-wrapper">
    <% } %>

    <% $.each(activity.data, function(i, a){ %>

    <%
    switch(a.status){
    case '0':
    var ic = 'ban';
    var co = 'aaa';
    var ct = 'Failed';
    break;
    case '1':
    var ic = 'check';
    var co = '4cd964';
    var ct = 'Successful';
    break;
    case '2':
    var ic = 'spin fa-spinner';
    var co = 'FF9500';
    var ct = 'In progress';
    break;
    case '3':
    var ic = 'pause';
    var co = 'aaa';
    var ct = 'In Queue';
    }

    switch(a.record_type){
    case '0':
    var icon = 'level-up';
    break;
    case '1':
    var icon = 'refresh';
    break;
    case '2':
    var icon = 'reply';
    break;
    case '3':
    var icon = 'git';
    break;
    default:
    var icon = 'question';
    }
    %>

    <div class="project-record-list">
        <i class="deploystate-icon fa fa-<%= icon %> fa-fw pull-left"></i>
        <span class="status status-<%= a.status %>"><%= ct %> | <span class="dynamicTime" data-toggle="tooltip" data-placement="top" title="<%= moment(timestamp(a.date)).format('DD/MM/YYYY hh:mm:ss a') %>" data-timestamp="<%= a.date %>"></span></span>

        <div class="pull-right link-data">
            <% if(a.raw){ %>
            <a href="#" class="watchRawData" data-id="<%= a.id %>" title="View raw console data" data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-terminal fa-fw"></i> Log
            </a>
            <% } %>
            <% if(a.post_data){ %>
            <a href="#" class="watchPayload" data-id="<%= a.id %>" title="View Payload" data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-gear fa-fw"></i> Payload
            </a>
            <% } %>
        </div>
        <br/>
        <i class="fa fa-<%= ic %>" data-toggle="tooltip" data-placement="right" title="<%= ct %>" style="color: #<%= co %> "></i>&nbsp;&nbsp;
        <i class="fa fa-leaf green"></i> <span class="blue"><%= (a.branch[0]) ? a.branch[0]['name'] : '' %></span>
        <small>
            <%= (a.record_type == 0) ? '(Update to latest)' : '' %>
            <%= (a.record_type == 1) ? '(Sync all files)' : '' %>
            <%= (a.record_type == 2) ? '(Jump to revision)' : '' %>
        </small>
        <% if(a.hash_before == null && a.hash == null){ %>

        <% }else if(a.hash_before == a.hash){ %>
        &nbsp;&nbsp;<code>No files changed</code>
        <% }else{ %>
        &nbsp;&nbsp;<code><%= (a.hash_before) ? a.hash_before.substr(0, 6) : '' %><%= (a.hash_before) ? ' -> ' : '' %><%= (a.hash) ? a.hash.substr(0, 6) : '' %></code>
        <% } %>
        <strong class="pull-right">deployed <%= a.amount_deployed %></strong>
        <br/>

        <%= (a.avatar_url)? '<img src="'+a.avatar_url+'&s=20"/>' : '' %>
        <% if(a.triggerby){ %>
        <strong><%= a.triggerby %> </strong> <%= (a.branch.length) ? 'pushed to '+a.branch[0].branch_name : '' %>
        <% }else{ %>
        <strong>Triggered manually</strong>
        <% } %>

        <div class="pull-right">
            <span class="green" data-toggle="tooltip" data-placement="left" title="Added/Modified"><i class="fa fa-plus-circle"></i> <%= a.file_add %></span> &nbsp;
            <span class="gray" data-toggle="tooltip" data-placement="left" title="Removed"><i class="fa fa-minus-circle"></i> <%= a.file_remove %></span>
        </div>
    </div>

    <% }); %>

    <% if(count > renderedCount){ %>
    <button type="button" class="btn btn-block activity-data-records-view-more">
        <i class="fa fa-arrow-down"></i> View more
    </button>
    <% } %>

    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>

    <% if(more == 'false'){ %>
    <% if(activity.data.length){ %>
</div>
<% } %>
<br>
<br>
<br>
<% } %>
