<p><span><strong>FTP details</strong></span>
    <!--<a href="#/ftp/edit/<%= ftp.id %>" class="edit-ftp pull-right"><i class="fa fa-cog"></i> manage ftp</a> -->
</p>
<table class="table table-condensed">
    <tr>
        <td>
            Name:
        </td>
        <td>
            <%= ftp.name %>
        </td>
    </tr>
    <tr>
        <td>
            Host:
        </td>
        <td>
            <%= ftp.host %>
        </td>
    </tr>
    <tr>
        <td>
            Username:
        </td>
        <td>
            <%= ftp.username %>
        </td>
    </tr>
    <tr>
        <td>
            Path to deploy:
        </td>
        <td>
            <%= ftp.path %>
        </td>
    </tr>
    <tr>
        <td>
            Port:
        </td>
        <td>
            <%= ftp.port %>
        </td>
    </tr>
    <tr>
        <td>
            Scheme:
        </td>
        <td>
            <%= ftp.scheme %>
        </td>
    </tr>
</table>
