<div class="panel panel-default branch-single-view">
    <div class="panel-body panel-body-material">
        <div class="panel-title">
            <i class="fa fa-leaf green"></i>&nbsp; <%= branch.name %>
            <div class="pull-right">
                <div class="dropdown">
                    <button id="branch-settings" class="btn btn-default btn-clean dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-wrench"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-material"
                            aria-labelledby="branch-settings">
                        <li><a href="#" class="red env-manage-delete">
                            <i class="fa fa-trash-o fa-fw"></i>&nbsp; Remove</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="space15"></div>
        <div class="row">
            <div class="col-md-6">
                <form action="" class="form-horizontal project-branch-env-save-form">
                    <input type="hidden" name="branch_id" value="<%= branch.id %>"/>

                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">
                            Name:
                        </label>

                        <div class="col-sm-9">
                            <input title="Environment must have a name." id="name" type="text" value="<%= branch.name %>" class="form-control" name="name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Branch:
                        </label>

                        <div class="col-sm-9">
                            <p class="form-control-static">
                                <i class="fa fa-code-fork"></i> <%= branch.branch_name %>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Revision:
                        </label>

                        <div class="col-sm-9">
                            <% if(branch.revision){ %>
                            <div class="input-group">
                                <input type="text" disabled value="<%= branch.revision %>" class="form-control mono"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-block btn-clean project-env-edit-revision"><i
                                            class="fa fa-pencil"></i></button>
                                </span>
                            </div>
                            <% }else{ %>
                            <p class="form-control-static">
                                Not deployed on server yet.
                            </p>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="autodeploycheckbox" class="col-sm-3 control-label">
                            Auto:
                        </label>

                        <div class="col-sm-9">
                            <div class="checkbox gf-checkbox">
                                <input <%= (branch.auto == 1) ? 'checked' : '' %> type="checkbox" id="autodeploycheckbox" name="auto"/>
                                <label for="autodeploycheckbox">Auto deploy</label>
                            </div>
                            <p class="help-block">Deploy changes when pushed to <i class="fa fa-code-fork"></i> '<%=
                                branch.branch_name %>'.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="env_ftp_select" class="col-sm-3 control-label">
                            FTP:
                        </label>

                        <div class="col-sm-9">
                            <select name="ftp_id" id="env_ftp_select" class="form-control" data-before="<%= ftp.id %>">
                                <option selected value="<%= ftp.id %>"><%= ftp.name %> (selected)</option>
                                <% $.each(ftplist.data, function(i, f){ %>
                                <option value="<%= f.id %>"><%= f.name %></option>
                                <% }) %>
                            </select>

                            <p class="help-block">
                                <em>Current: <%= ftp.name %></em> — <a href="#" class="showftpdetails">Show details</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <form action="" class="project-branch-env-save-form-2">
                    <div class="space10"></div>
                    <div class="form-group">
                        <label for="selective-skip" class="control-label">Skip files/directories that match:</label>

                        <div class="selective-skip" id="selective-skip"></div>
                        <p class="help-block text-right">
                            * wildcard allowed. case sensitive.
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="selective-purge" class="control-label">Purge directories on upload: <span
                                data-toggle="tooltip" data-placement="top"
                                title="Directory will be emptied recursively."><i
                                class="fa fa-info blue fa-fw"></i></span></label>

                        <div class="selective-purge" id="selective-purge"></div>
                        <p class="help-block text-right">
                            Case sensitive. relative from ftp directory.
                        </p>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <div class="space10"></div>
                <button type="text" class="btn btn-success project-branch-env-save-form-submit">Update</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
