<div class="project-branches-env">
    <div class="row">
        <% $.each(branches, function(i, a){ %>
        <div class="col-md-6">
            <div class="project-branch" data-uri="/project/<%= deployid %>/environments/manage/<%= a.id %>">
                <div class="block">
                    <div class="deploy-button env-start-deploy" data-branch="<%= a.id %>">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                    <p class="branch-name-container">
                        <i class="fa fa-leaf fa-fw green"></i> <span class="branch-name"><%= a.name %></span>
                    </p>
                    <code><i class="fa fa-code-fork"></i> <%= a.branch_name %></code>
                    <br/>
                    <span class="onrevision">Revision: </span><span class="revision"><%= (a.revision) ? a.revision.substr(0, 6) : 'None' %></span>
                    <br/>
                    <!--<span class="autodeploy"><%= (a.ready == 1) ? '<i class="fa fa-check"></i> Ready' : 'Not deployed yet.' %></span>-->
                    <span class="autodeploy"><%= (a.auto == 1) ? ' <i class="fa fa-check green"></i>&nbsp; Auto-deploy enabled' : 'Auto-deploy disabled.' %></span>
                    <% if(a.revision != '' || a.ready != 0){ %>
                        <span class="pull-right date">
                        last deploy <span class="dynamicTime" data-timestamp="<%= a.date %>"></span>
                        </span>
                    <% }else{ %>
                        <span class="pull-right">
                        Not deployed &nbsp; <span data-toggle="tooltip" data-placement="left" title="Not deployed yet."><i class="fa fa-pause"></i></span>
                        </span>
                    <% } %>
                </div>
                <div class="buttons">
                    <a href="/project/<%= deployid %>/environments/manage/<%= a.id %>">
                        View or configure
                    </a>
                    <button type="button" class="deploy start-deploy" data-branch="<%= a.id %>">
                        <i class="fa fa-arrow-up fa-fw"></i> deploy
                    </button>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<a href="/project/<%= deployid %>/environments/add" data-toggle="tooltip" data-placement="right" title="Create new" class="btn btn-success btn-circle btn-circle-lg "><i class="fa fa-plus"></i></a>


<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>

