<% var branches = data.data[0]['branches'] %>
<div class="project-branches-env">
    <div class="row">
        <% $.each(branches, function(i, a){ %>
        <div class="col-md-6">
            <div class="project-branch">
                <div class="block">
                    <p class="branch-name-container"><i class="fa fa-leaf fa-fw green"></i> <span class="branch-name"><%= a.name %></span></p>
                    <!--<span class="branch-name"></span> &nbsp;-->
                    <code><i class="fa fa-code-fork"></i> <%= a.branch_name %></code>
                    <span class="pull-right">
                        <%= (a.ready == 1) ? '<i class="fa fa-check green" title="Deployed"></i> Deployed' : '<i class="fa fa-pause"></i> Not deployed' %>
                    </span>
                    <br/>
                    <span class="onrevision">On revision: </span><span
                        class="revision"><%= (a.revision) ? a.revision.substr(0, 6) : '' %></span>
                    <span class="pull-right date">
                        last deploy <span class="dynamicTime" data-timestamp="<%= a.date %>"></span>
                    </span>
                    <br/>
                    <!--<span class="autodeploy"><%= (a.ready == 1) ? '<i class="fa fa-check"></i> Ready' : 'Not deployed yet.' %></span>-->
                    <span class="autodeploy">Auto deploy: <%= (a.auto == 1) ? ' <i class="fa fa-check green fa-fw"></i> Active.' : ' <i class="fa fa-pause fa-fw"></i> Not active.' %></span>
                    <!--<span class="pull-right date">-->
                        <!--<a href="#/project/<%= data.data[0].id %>/environments/manage/<%= a.id %>">View</a>-->
                    <!--</span>-->
                </div>
                <div class="buttons">
                    <a href="#/project/<%= data.data[0].id %>/environments/manage/<%= a.id %>">
                        View
                    </a>
                    <button type="button" class="deploy" data-id="<%= a.id %>">
                        <i class="fa fa-cloud-upload center fa-fw"></i> deploy now
                    </button>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<a href="#/project/<%= data.data[0].id %>/environments/add" class="btn btn-default"><i class="fa fa-plus-circle"></i> Add environments</a>

<div class="space20"></div>