<% JSON.stringify(s) %>
<div class="is-deploy-view-id" data-id="<%= s.id %>"></div>

<div class="page-head">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-4">
            <div class="head"><i class="fa fa-<%= (s.provider) ? ((s.provider.toLowerCase() == 'github') ? s.provider.toLowerCase()+'-alt' : s.provider.toLowerCase()) : 'cloud' %>"></i>&nbsp; <%= s.name %></div>
            <div class="subhead" style="color: #aaa"><%= s.repository %></div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="pull-right">
                <!--<a href="/project/new" class="btn btn-success pull-right">create new</a>-->
                <% if(s.status.toLowerCase() == 'idle' || s.status.toLowerCase() == 'to be initialized' ){ %>
                <div class="project-v-status" style="">
                    Idle
                </div>
                <% }else{ %>
                <div class="project-v-status project-co-loading" style="">
                    <i class="fa fa-spin fa-refresh fa-fw"></i> <%= s.status %>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="head-body-divider"></div>
<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-4">
        <div class="makerelative">
            <div class="sidebar-container">
                <div class="projectview-sidebar-top"></div>
                <div class="list-group projectview-siderbar">
                    <a href="/project/<%= s.id %>" class="list-group-item page-subview subview-activity"><i class="fa fa-list-ul fa-fw"></i> Activity</a>
                    <a href="/project/<%= s.id %>/environments" class="list-group-item page-subview subview-environments"><i class="fa fa-leaf fa-fw"></i> Environments</a>
                    <a href="/project/<%= s.id %>/settings" class="list-group-item page-subview subview-settings"><i class="fa fa-wrench fa-fw"></i> Settings</a>
                </div>
                <div class="space10"></div>
                <div style="color: #aaa">
                    <label>
                        POST hook url:
                    </label>
                    <input class="form-control" readonly style="font-family: consolas; font-size: 12px; background: transparent; cursor: default;" value="<%= base %>hook/i/<%= s.user_id %>/<%= s.id %>/<%= s.key %>">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-8">
        <% if(false){ %>
        <div class="well well-sm well-statusbar">
            <%
            if(s.lastdeploy == 0){
                var ld = 'Not deployed yet';
            }else{
                var ld = moment(s.lastdeploy).format('MMMM Do YYYY, h:mm:ss a');
            }
            %>
            <strong><i class="fa fa-undo"></i> Last deploy at:</strong> <%= ld %>

            <div class="pull-right">
                <% if(s.cloned == 0){ %>
                <strong><i class="fa fa-<%= (s.cloned == 0) ?  'ban' : 'check' %>"></i> Processed</strong>
                <% } %>
            </div>
        </div>
        <% } %>
        <div class="deploy-sub-page bb-loading"></div>
    </div>
</div>

<div class="space20"></div>
<div class="space20"></div>
<div class="space20"></div>
<div class="space20"></div>