<div class="panel panel-default">
    <div class="panel-body panel-body-material">
        <div class="panel-title">
            <i class="fa fa-wrench"></i>&nbsp; Project settings
        </div>

        <div style="height: 20px;"></div>
        <div class="row">
            <form action="" id="deploy-view-form-edit" class="form-horizontal">
                <div class="col-md-7">
                    <div class="form-group form-">
                        <label class="col-sm-3 control-label" for="name">Name</label>

                        <div class="col-sm-9">
                            <input type="text"
                                    id="name"
                                    name="name"
                                    placeholder="Enter your repository name."
                                    value="<%= data.name %>"
                                    class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Repository</label>

                        <div class="col-sm-9">
                            <p class="form-control-static">
                                <%= data.repository %>
                            </p>

                            <div class="checkbox gf-checkbox">
                                <input name="isprivate" type="checkbox"
                                        id="doesreponeedlogin" <%= (data.username !== '') ? 'checked':'' %> />
                                <label for="doesreponeedlogin">
                                    This is a private repo.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="privaterepo-toggle" style="<%= (data.username == '') ? 'display:none' : '' %>">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="username">Username</label>

                            <div class="col-sm-9">
                                <input type="text" id="username" name="username" placeholder="Username" value="<%= data.username %>" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="password">Password</label>

                            <div class="col-sm-9">
                                <% if(data.pset){ %>
                                <div class="project-form-password-set">
                                    <p class="form-control-static">
                                        <span class="ast">∗∗∗∗∗∗∗∗∗∗∗∗∗∗∗∗ —</span><a href="#" class="project-form-password-set-change btn-link">
                                        <i class="fa fa-pencil"></i> edit</a></p>
                                </div>
                                <div class="project-form-password-field" style="display: none">
                                    <div class="input-group">
                                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" value="">
                                            <span class="input-group-btn">
                                                <button class="btn btn-link btn-clean btn-block project-form-password-set-cancel" type="button">
                                                    <i class="fa fa-times"></i></button>
                                            </span>
                                    </div>
                                </div>
                                <% }else{ %>
                                <input type="password" name="password" placeholder="Password" value="" class="form-control"/>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">Hook Key</label>

                        <div class="col-sm-9">
                            <input type="text" name="key" placeholder="Post secret key." value="<%= data.key %>" class="form-control" title="Please enter a random string"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="project-settings-info">
                        <p>
                            <i class="fa fa-heartbeat"></i> &nbsp;Project Status.
                        </p>

                        <p>
                            <strong>Active</strong>: <%= (data.active) ? '<i class="fa fa-check green"></i> is active.' : '<i class="fa fa-times redalt"></i>' %>
                        </p>

                        <p>
                            <strong>Processed</strong>: <%= (data.cloned) ? '<i class="fa fa-check green"></i> is ready.' : '<i class="fa fa-times redalt"></i>' %>
                        </p>

                        <p>
                            <strong>Env</strong>: <%= data.branches.length %>
                            <i class="fa fa-leaf"></i> environment<%= (data.branches.length == 1) ? '' : 's' %> set.
                            <a class="gray" href="#/project/<%= data.id %>/environments">edit</a>
                        </p>

                        <p>
                            <strong>Created</strong>: <%= data.created_at %>
                        </p>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="space10"></div>
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-pencil"></i> &nbsp;Update
                    </button>

                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-clean deleteproject" data-id="<%= data.id %>">
                            <i class="fa fa-trash"></i> &nbsp;Delete this Project.
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="space20"></div>
<div class="space20"></div>
<div class="space20"></div>
<div class="space20"></div>