<mat-drawer-container class="example-container" autosize >
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true" >
    <div style="" class="menu-container">
      <h3>
        Projects
      </h3>
      <div style="height: 1px;">
      </div>
      <div class="m-item" routerLink="/home">
        <mat-icon>
          home
        </mat-icon>
        Home
      </div>
      <div class="m-item" routerLink="/project/create">
        <mat-icon>
          add
        </mat-icon>
        Add project
      </div>
      <div class="m-item" (click)="menuShow.settings = !menuShow.settings">
        <mat-icon>
          settings
        </mat-icon>
        Settings
      </div>
      <div class="m-item-c" *ngIf="menuShow.settings">
        <div class="m-item" routerLink="/profile">
          <mat-icon>
            user
          </mat-icon>
          Profile
        </div>
        <div class="m-item" routerLink="/git-accounts">
          <mat-icon>
            git
          </mat-icon>
          Git accounts
        </div>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="">
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        <img src="./assets/logo.png"
             style="height: 40px;"
             alt="">
      </span>
<!--      <span class="example-spacer"></span>-->
<!--      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--        <mat-icon>favorite</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--        <mat-icon>share</mat-icon>-->
<!--      </button>-->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
