mat-drawer-container {
  height: 100%;
}

.menu-container {
  width: 300px;
  padding: 2px 15px;
}

.m-item-c{
  //background-color: lightblue;
  padding-left: 10px;
  //border-left: solid 1px #888;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    width: 1px;
    top:10px;
    bottom: 14px;
    left: 1px;
    //right: 0;
    background-color: #222;
  }
}

.m-item {
  padding: 12px 10px;
  margin: 0px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 6px;

  &:hover{
    background-color: #cbe8f3;
  }

  > * {
    vertical-align: middle;
  }

  mat-icon {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
    color: #4d4d4f;
    //width: 24px;
  }
}
