<mat-drawer-container class="example-container"
                      autosize>
  <mat-drawer #drawer
              class="example-sidenav"
              mode="side"
              [opened]="true">
    <h3 style="margin: 21px 25px 30px">
      Menu
    </h3>
    <div style=""
         class="menu-container">
      <div style="height: 1px;">
      </div>
      <div class="m-item"
           [ngClass]="{
              selected: page == 'home'
           }"
           routerLink="/home">
        <mat-icon>
          home
        </mat-icon>
        Home
      </div>
      <div class="m-item-c">
        <ng-container *ngFor="let p of projects">
          <div class="m-item"
               title="{{p.name}}"
               [ngClass]="{
              selected: page == ('project' + p.project_id)
           }"
               [routerLink]="'/project/' + encode(p.project_id) + ''">
            <mat-icon>
              code
            </mat-icon>
            {{p.name}}
          </div>
          <div class="m-item-c2" *ngIf="menuShow['project' + p.project_id]">
            <div class="m-item"
                 [ngClass]="{
              selected: page == ('project' + p.project_id + 'servers')
           }"
                 [routerLink]="'/project/' + encode(p.project_id) + '/servers'">
              <mat-icon>
                dns
              </mat-icon>
              Servers
            </div>
            <div class="m-item"
                 [ngClass]="{
              selected: page == ('project' + p.project_id + 'settings')
           }"
                 [routerLink]="'/project/' + encode(p.project_id) + '/settings'">
              <mat-icon>
                settings
              </mat-icon>
              Project settings
            </div>
          </div>
        </ng-container>
        <div class="m-item"
             [ngClass]="{
              selected: page == ('project-create')
           }"
             routerLink="/project/create">
          <mat-icon>
            add
          </mat-icon>
          Add Project
        </div>
      </div>


      <div class="m-item"
           [ngClass]="{
              selected: page == ('settings')
           }"
           (click)="menuShow.settings = !menuShow.settings">
        <mat-icon>
          settings
        </mat-icon>
        Settings
      </div>
      <div class="m-item-c"
           *ngIf="menuShow.settings">
        <div class="m-item"
             [ngClass]="{
              selected: page == ('profile')
           }"
             routerLink="/profile">
          <mat-icon>
            user
          </mat-icon>
          Profile
        </div>
        <div class="m-item"
             [ngClass]="{
              selected: page == ('git-accounts')
           }"
             routerLink="/git-accounts">
          <mat-icon>
            git
          </mat-icon>
          Git Accounts
        </div>
        <div class="m-item"
             [ngClass]="{
              selected: page == ('logs')
           }"
             routerLink="/logs">
          <mat-icon>
            log
          </mat-icon>
          Logs
        </div>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="">
      <button mat-icon-button
              (click)="drawer.toggle()"
              class="example-icon"
              aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        <img src="./assets/logo.png"
             style="height: 40px;margin-left: 10px"
             alt="">
      </span>
      <!--      <span class="example-spacer"></span>-->
      <!--      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
      <!--        <mat-icon>favorite</mat-icon>-->
      <!--      </button>-->
      <!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
      <!--        <mat-icon>share</mat-icon>-->
      <!--      </button>-->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
