<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="m-t-30">
                    <div class="panel panel-card">
                        <div class="panel-body">
                            <h3 class="m-b-20 m-t-5">
                                New project</h3>

                            <div class="" ng-if="loading">
                                <div class="p-t-20 p-b-20">
                                    <div class="loader" style="width: 60px">
                                        <svg class="circular" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3"
                                                    stroke-miterlimit="10"/>
                                        </svg>
                                    </div>
                                    <p class="text-center m-t-30">
                                        Please wait, getting your repositories
                                    </p>
                                </div>
                            </div>
                            <div ng-if="!loading && available_repos.length">
                                <form name="newProjectForm" ng-submit="createProject()">
                                    <div class="form-group">
                                        <label>Select your repository</label>
                                        <div class="dropdown">
                                            <button class="btn btn-default btn-block dropdown-toggle button-left"
                                                    type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                {{selectedRepo ? selectedRepo.name : 'Click to select'}}
                                                <div class="text-muted" ng-if="selectedRepo">
                                                    {{selectedRepo.repo_url}}
                                                </div>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-drop w-full" role="menu"
                                                aria-labelledby="dropdownMenu1">
                                                <li role="presentation"
                                                    ng-repeat="repo in available_repos | orderBy: 'full_name'">
                                                    <a role="menuitem" tabindex="-1" ng-click="selectRepo(repo)">
                                                    <span class="pull-right text-muted">
                                                        <small>({{repo.size | bytes : 2}})</small>
                                                        {{repo.provider}}
                                                    </span>
                                                        {{repo.full_name}} <br>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="selectedRepo">
                                        <label>Available branches</label>
                                        <div ng-if="loadingBranches" class="text-muted">Getting branches..</div>
                                        <div ng-if="!loadingBranches">
                                            <span ng-repeat="b in availableBranches"><code
                                                    class="m-r-5">{{b}}</code></span>
                                            <span ng-if="availableBranches.length == 0">
                                                This repository has no branches, cannot create project without branches
                                            </span>
                                        </div>
                                    </div>

                                    <div ng-if="availableBranches.length && selectedRepo">
                                        <small>Web hooks will be created for this project</small>
                                    </div>

                                    <div class="p-b-10 m-t-20 text-center">
                                        <button class="btn btn-rounded btn-stroke btn-info waves-effect"
                                                type="submit"
                                                ng-disabled="availableBranches.length == 0 || !selectedRepo || creating">
                                            Creat{{creating ? 'ing project...': 'e'}}
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <div ng-if="!loading && !available_repos.length" class="p-t-20 p-b-20">
                                <div class="text-center">
                                    <img src="assets/img/generic/rotated-right-arrow-with-broken-line.svg" alt="" style="width: 100px; opacity: .5">
                                </div>
                                <h4 class="text-center">
                                    Repositories not found
                                </h4>
                                <p class="text-center">
                                    Make sure you are logged in with at least one provider <br>
                                    <a href="settings/connected-accounts"><u>Connect to git account now</u></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>