<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div project-sidebar page="page"></div>
            </div>
            <div>
                <div class="col-md-9">
                    <div class="panel panel-card">
                        <div class="panel-body">
                            <h3 class="m-b-20 m-t-5">All deploy activity</h3>
                            <div class="" ng-if="loadingRecords">
                                <div class="p-t-20 p-b-20">
                                    <div class="loader" style="width: 60px">
                                        <svg class="circular" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3"
                                                    stroke-miterlimit="10"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!loadingRecords">
                                <div class="streamline m-l-5 b-l" ng-if="records.length">

                                    <div ng-repeat="record in records">
                                        <div record-item record="record"></div>
                                    </div>
                                </div>

                                <div class="text-center p-t-60 p-b-70" ng-if="!isCloned && records.length == 0">
                                    <div class="m-b-10">Great!, the project is setup, lets clone the repository</div>
                                    <button class="btn btn-rounded btn-stroke btn-info waves-effect btn-lg"
                                            ng-click="startCloning()"
                                            ng-disabled="startingCloning"
                                            type="button">
                                        {{startingCloning ? "Please wait..":"Start cloning"}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>