<div class="">

    <div class="panel panel-card project-hero">
        <div class="header-notification" ng-class="{'show':project.pull_state == 2}">
            <div>
                Pulling changes...
            </div>
        </div>
        <img src="assets/img/{{project.provider}}.svg" alt="" class="project-hero-image">
        <div class="p-20">
            <h3 class="no-m-t">
                {{project.name}}
            </h3>
            <span>{{project.uri}}</span>
        </div>
    </div>
    <div class="panel panel-card" ng-if="page != 'new-server' && page != 'project-settings'">
        <div class="p-t-20 p-l-20 p-r-20 p-b-10">
            <div ng-if="project.servers.length" class="pull-right" style="margin-top: -2px;">
                <a href="view/{{project.id}}/{{project.name}}/server/add" class="btn btn-stroke btn-rounded btn-primary btn-xs">Add server</a>
            </div>
            <h4 class="no-m-t">Servers</h4>
        </div>

        <div class="md-list">
            <div ng-repeat="s in project.servers" style="position:relative;">
                <a href="view/{{project.id}}/{{project.name}}/server/{{s.id}}" class="servers-list">
                    <div class="md-list-item p-l-20 p-r-20 b-t">
                        <div class="md-list-item-content">
                            <div>
                                <h3 class="text-md">
                                    {{s.name}}
                                </h3>
                            </div>
                            <small class="font-thin">
                                <code><img src="assets/img/branch.svg" alt="branch" style="height: 12px"> {{s.branch}}</code> {{s.auto_deploy == '1' ? '- Auto deploy' : ''}}
                            </small>
                        </div>
                    </div>
                </a>
                <div style="position:absolute;top: 20px;right: 20px;">
                    <a href="view/{{project.id}}/{{project.name}}/server/{{s.id}}/deploy" class="btn btn-xs btn-primary btn-stroke">DEPLOY</a>
                </div>
            </div>
        </div>

        <div ng-if="!project.servers.length" class="text-center p-20 p-b-40">
            <p class="text-center">
                Start deployin'
            </p>
            <a href="view/{{project.id}}/{{project.name}}/server/add" class="btn btn-stroke btn-rounded btn-primary">Add server</a>
        </div>
    </div>

    <div class="panel panel-card p-t-10 p-b-10" ng-if="page == 'project-settings'">
        <ul class="nav scroll-y" ui-nav="">
            <li class="" ng-class="{'nav-active': current == 'project-settings-basic'}">
                <a href="view/{{project.id}}/{{project.name}}/settings">
                    Basic
                </a>
            </li>
            <li ng-class="{'nav-active': current == 'project-settings-users'}">
                <a href="view/{{project.id}}/{{project.name}}/settings/users">
                    Users
                </a>
            </li>
        </ul>
    </div>

    <div class="panel panel-card" ng-if="page != 'project-settings'">
        <div class="md-list">
            <a href="view/{{project.id}}/{{project.name}}/settings">
                <div class="md-list-item p-t-15 p-b-15">
                    <div class="md-list-item-content">
                        <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
                        Settings
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>