<div class="sl-item"
     ng-class="{
         'b-success': record.status == 4,
         'b-info': record.status == 2,
         'b-danger': record.status == 3,
     }">
    <div class="sl-content">
        <div class="text-muted-dk">
            <small>{{record.created_at | amFromUnix | amDateFormat : 'DD MMM\'YY hh:mm a'}}</small>
            <small>({{record.created_at | amFromUnix | amTimeAgo}})</small>
        </div>
        <div class="m-t-5">
            <div class="pull-right">
                <span class="text-muted">
                <span ng-if="record.status == 2 && record.total_files != '0'">
                    {{record.processed_files}} of {{record.total_files}} done
                </span>
                <span class="m-l-10" ng-if="record.added_files != 0" uib-tooltip="Added files" tooltip-placement="left">
                    <i class="zmdi m-r-5 zmdi-plus-circle-o"></i>{{record.added_files}}
                </span>
                    <span class="m-l-10" ng-if="record.deleted_files != 0" uib-tooltip="Deleted files" tooltip-placement="left">
                    <i class="zmdi m-r-5 zmdi-minus-circle-outline"></i>{{record.deleted_files}}
                </span>
                    <span class="m-l-10" ng-if="record.edited_files != 0" uib-tooltip="Edited files" tooltip-placement="left">
                    <i class="zmdi m-r-5 zmdi-edit"></i>{{record.edited_files}}
                </span>
                </span>
                <span>
                    <button class="btn btn-rounded btn-xs btn-info btn-stroke m-l-5"
                            ng-click="logMessages(record.log_file, record.failed_reason)"
                            ng-if="record.log_file">LOGS</button>

                    <button class="btn btn-rounded btn-xs btn-danger btn-stroke m-l-5"
                            ng-click="startCloning()"
                            ng-if="record.status == 3"
                            ng-disabled="startingCloning">RETRY</button>
                </span>
            </div>
            <p>
                <span class="label bg-success" ng-if="record.status == 4">COMPLETE</span>
                <span class="label bg-info" ng-if="record.status == 2">PROCESSING</span>
                <span class="label bg-danger" ng-if="record.status == 3">FAILED</span>
                <span class="label bg-default" ng-if="record.status == 1">NEW</span>

                <span class="">
                    <span class="label bg-default">{{recordType(record.type) | uppercase}}</span>
                </span>

                <span class="m-l-5 small" ng-if="record.name">
                    <i class="zmdi zmdi-dns zmdi-hc-fw"></i>
                    {{record.name}}
                </span>
            </p>
        </div>
        <div class="list-group-item record-commit" ng-if="record.commit">
            <div class="record-commit-progress" ng-style="progressStyle" ng-if="record.status == 2"></div>
            <div>
                <strong>{{record.commit.message}}</strong>
                <code class="pull-right">
                    <small class="">{{record.commit.sha | sha}}</small>
                </code>
                <br>
                <small class="text-muted">{{record.commit.author}} committed on {{record.commit.time | amFromUnix | amDateFormat : "MMM DD, YYYY"}}</small>
            </div>
        </div>
        <pre class="hide">{{record}}</pre>
        <div class="space5"></div>
    </div>
</div>