<div class="navbar md-whiteframe-z1 no-radius blue-bg white">
    <!-- Open side - Naviation on mobile -->
    <a md-ink-ripple data-toggle="modal" data-target="#aside"
       class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>

    <!-- / -->
    <!-- Page title - Bind to $state's title -->
    <div class="navbar-item pull-left h4">
        <img src="assets/img/logo-w.png" alt="" style="height: 37px;" class="m-r-20">
        <a href="home">Dashboard</a>

        <span class="m-l-5" ng-repeat="b in breadcumb">
            <i class="zmdi zmdi-chevron-right m-r-5"></i>

            <span ng-if="!b.link">{{b.name}}</span>
            <a ng-if="b.link" href="{{b.link}}">{{b.name}}</a>
        </span>

        <!---->
        <!--<span class="m-l-5 " ng-if="project">-->
        <!--<i class="zmdi zmdi-chevron-right m-r-5"></i>-->
        <!--<a href="view/{{project.id}}/{{project.name}}">{{project.name}}</a>-->
        <!--</span>-->

        <!--<span class="m-l-5 " ng-if="project">-->
        <!--<i class="zmdi zmdi-chevron-right m-r-5"></i>-->
        <!--<a href="view/{{project.id}}/{{project.name}}">{{project.name}}</a>-->
        <!--</span>-->
        <!--<span class="m-l-5 " ng-if="server_name">-->
        <!--<i class="zmdi zmdi-chevron-right m-r-5"></i>-->
        <!--{{server_name}}-->
        <!--</span>-->
    </div>
    <!-- / -->
    <!-- Common tools -->
    <ul class="nav nav-sm navbar-tool pull-right">
        <li class="dropdown">
            <a md-ink-ripple data-toggle="dropdown">
                <i class="zmdi zmdi-hc-fw zmdi-plus i-24"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color"
                style="top: 10px; right: 10px;">
                <li><a href="project/new">New project</a></li>
            </ul>
        </li>
        <li ng-if="showSyncButton">
            <a ng-click="syncProject()"
               tooltip-placement="bottom"
               title="Sync project">
                <i class="zmdi zmdi-hc-fw zmdi-refresh-sync i-24"></i>
            </a>
        </li>
        <li class="dropdown">
            <a md-ink-ripple data-toggle="dropdown">
                <i class="zmdi zmdi-hc-fw zmdi-more-vert i-24"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color"
                style="top: 10px; right: 10px;">
                <li>
                    <div class="p">
                        <div class="text-center m-b">
                            <img src="{{user.gravatar}}&s=55" alt="" class="img-circle">
                        </div>
                        <div class="text-center">
                            {{user.username}}
                        </div>
                    </div>
                </li>
                <li><a href="settings">Settings</a></li>
                <li><a ng-click="logout()">Sign out</a></li>
                <li class="divider"></li>
                <li><a target="_blank" href="https://github.com/gitftp/gitftp/issues">
                    <i class="zmdi zmdi-hc-fw zmdi-bug"></i> Report issue
                </a></li>
                <li><a target="_blank" href="https://github.com/gitftp/gitftp">
                    <i class="zmdi zmdi-hc-fw zmdi-github"></i> Gitftp
                </a></li>
            </ul>
        </li>
    </ul>
    <div class="pull-right" ui-view="navbar@"></div>
    <!-- / -->
    <!-- Search form -->
    <div id="search" class="pos-abt w-full h-full blue hide">

        <div class="box">
            <div class="box-col w-56 text-center">
                <!-- hide search form -->
                <a md-ink-ripple class="navbar-item inline" ui-toggle-class="show" target="#search"><i
                        class="mdi-navigation-arrow-back i-24"></i></a>
            </div>
            <div class="box-col v-m">
                <!-- bind to app.search.content -->
                <input class="form-control input-lg no-bg no-border" placeholder="Search"
                       ng-model="app.search.content">
            </div>
            <div class="box-col w-56 text-center">
                <a md-ink-ripple class="navbar-item inline"><i class="mdi-av-mic i-24"></i></a>
            </div>
        </div>
    </div>
    <!-- / -->
</div>