<div class="navbar md-whiteframe-z1 no-radius blue-bg white">
    <!-- Open side - Naviation on mobile -->
    <a md-ink-ripple data-toggle="modal" data-target="#aside"
       class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>

    <!-- / -->
    <!-- Page title - Bind to $state's title -->
    <div class="navbar-item pull-left h4"><a href="home">Dashboard</a></div>
    <!-- / -->
    <!-- Common tools -->
    <ul class="nav nav-sm navbar-tool pull-right">
        <li>
            <a md-ink-ripple data-toggle="modal" data-target="#user">
                <i class="zmdi zmdi-hc-fw zmdi-account i-24"></i>
            </a>
        </li>
        <li class="dropdown">
            <a md-ink-ripple data-toggle="dropdown">
                <i class="zmdi zmdi-hc-fw zmdi-more-vert i-24"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color"
                style="top: 10px; right: 10px;">
                <li>
                    <div class="p">
                        <div class="text-center m-b">
                            <img src="{{user.gravatar}}&s=55" alt="" class="img-circle">
                        </div>
                        <div class="text-center">
                            {{user.username}}
                        </div>
                    </div>
                </li>
                <li><a href="settings">Settings</a></li>
                <li><a ng-click="logout()">Sign out</a></li>
                <li class="divider"></li>
                <li><a href>Help &amp; feedback</a></li>
            </ul>
        </li>
    </ul>
    <div class="pull-right" ui-view="navbar@"></div>
    <!-- / -->
    <!-- Search form -->
    <div id="search" class="pos-abt w-full h-full blue hide">

        <div class="box">
            <div class="box-col w-56 text-center">
                <!-- hide search form -->
                <a md-ink-ripple class="navbar-item inline" ui-toggle-class="show" target="#search"><i
                        class="mdi-navigation-arrow-back i-24"></i></a>
            </div>
            <div class="box-col v-m">
                <!-- bind to app.search.content -->
                <input class="form-control input-lg no-bg no-border" placeholder="Search"
                       ng-model="app.search.content">
            </div>
            <div class="box-col w-56 text-center">
                <a md-ink-ripple class="navbar-item inline"><i class="mdi-av-mic i-24"></i></a>
            </div>
        </div>
    </div>
    <!-- / -->
</div>