<div class="panel panel-default panel-user-settings">
    <div class="panel-body panel-body-material">
        <div class="panel-title">
            <i class="fa fa-cloud blue"></i>&nbsp; projects
        </div>
        <div class="space20"></div>
        <div class="row">
            <div class="col-md-8">
                View &amp; manage all your projects
            </div>
        </div>
    </div>
    <% if(data.length == 0){ %>
    <div class="space20"></div>
    <p class="text-center gray">
        <i class="fa fa-cloud fa-3x"></i> <br/>
        <strong>Nothing here</strong>
    </p>

    <div class="space20"></div>
    <div class="space20"></div>
    <% }else{ %>
    <table class="table table-material table-middle">
        <tr>
            <th style="width: 10px"></th>
            <th>Name</th>
            <th>Size</th>
            <th>Status</th>
            <th></th>
        </tr>
        <% $.each(data, function(i, a){ %>
        <tr>
            <td class="text-center">
                <%= a.git_name ? '<span class="icon icon-'+a.provider.toLowerCase()+'"></span>'  :  '<i class="fa fa-cloud"></i>' %>
            </td>
            <td>
                <%= a.name %>
            </td>
            <td>
                <%= a.size %>
            </td>
            <td>
                <%= a.status %>
            </td>
            <td class="text-right">
                <a href="/project/<%= a.id %>/settings"><i class="fa fa-gear"></i></a>
            </td>
        </tr>
        <% }) %>
    </table>
    <% } %>
</div>