<div class="panel panel-default panel-user-settings">
    <div class="panel-body panel-body-material">
        <div class="panel-title">
            <i class="fa fa-refresh blue"></i>&nbsp; Connected Accounts
        </div>
        <div class="space20"></div>
        <p>
            Gitftp integrates with your Git service provider to deploy private repositories easy &amp; manage webhooks directly.
        </p>
    </div>
    <div class="panel-footer">
        Connect Gitftp with...
    </div>
    <table class="table services-table table-material">
        <tr>
            <td>
                <span class="icon icon-github"></span>&nbsp;
                <!--<i class="fa fa-github"></i> -->
                Github
            </td>
            <td class="text-right">
                <% if(service['github']['username']){ %>
                    Connected as <%= service['github']['username'] %>
                    &nbsp;
                    <a href="#" class="unlinkService" data-name="github">
                        <span style="font-size: 16px;">
                            <i class="fa fa-times-circle fa-fw"></i>
                        </span>
                    </a>
                <% }else{ %>
                    <a href="#" class="linkService" data-name="github">
                        Connect
                    </a>
                <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <span class="icon icon-bitbucket"></span>&nbsp;
                <!--<i class="fa fa-bitbucket"></i> -->
                Bitbucket
            </td>
            <td class="text-right">
                <% if(service['bitbucket']['username']){ %>
                Connected as <%= service['bitbucket']['username'] %>
                &nbsp;
                <a href="#" class="unlinkService" data-name="bitbucket">
                        <span style="font-size: 16px;">
                            <i class="fa fa-times-circle fa-fw"></i>
                        </span>
                </a>
                <% }else{ %>
                <a href="#" class="linkService" data-name="bitbucket">
                    Connect
                </a>
                <% } %>
            </td>
        </tr>
    </table>
</div>
</div>