<div style="height: 15px"></div>
<div class="page">
  <!--  <mat-card>-->
  <!--    <mat-card-content>-->
  <h2 style="font-weight: normal">
    New project
  </h2>
  <div>
<!--    <form [formGroup]="form">-->
<!--      <mat-form-field appearance="outline"-->
<!--                      class="mr2">-->
<!--        <mat-label>Select your repository</mat-label>-->
<!--        <mat-select formControlName="repo_id">-->
<!--          <mat-option>-->
<!--asd-->
<!--          </mat-option>-->
<!--          &lt;!&ndash;          <mat-option [value]="p.provider_id" *ngFor="let p of providers">{{p.provider_name}}</mat-option>&ndash;&gt;-->
<!--        </mat-select>-->
<!--        &lt;!&ndash;        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>&ndash;&gt;-->
<!--        &lt;!&ndash;        <mat-hint>Hint</mat-hint>&ndash;&gt;-->
<!--      </mat-form-field>-->
<!--    </form>-->
  </div>
</div>
