<div style="height: 15px"></div>
<div class="page">
  <!--  <mat-card>-->
  <!--    <mat-card-content>-->
  <h2 style="">
    New Project
  </h2>
  <div>
    <div class="loading" *ngIf="loading">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <div *ngIf="repos.length" style="padding-top: 26px;">
      <mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput
               [(ngModel)]="filterTerm">
      </mat-form-field>
      <div class="ps-c">
        <div
          class="ps-i"
          *ngFor="let r of getFilteredRepos(); let indx = index"
        >
          <span class="ps-s">({{r.size}})</span>
          <button type="button" color="primary" mat-flat-button (click)="create(r)">
            Create
          </button>
          {{r.full_name}}
          <span class="ps-p">{{r.provider}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
