.ps-c {
  position: relative;

  .ps-i {
    padding: 20px 0;
    border-top: solid 1px #ddd;

    span.ps-s {
      float: right;
    }

    .ps-p {
      /* background: #63c5f0; */
      color: #807f7f;
      padding: 6px 12px;
      border-radius: 50px;
      margin-left: 17px;
      /* font-style: italic; */
      font-weight: bold;
    }

    button{
      margin-right: 10px;
      opacity: 0;
      transition: opacity .2s;

    }

    &:hover{
      button{
        opacity: 1;
      }
    }
  }
}

.loading {
  padding: 50px 0;

  mat-spinner {

  }
}
