<h3>
    Usage Summary
</h3>
<p>
    Have a glance at your repositories and its usage.
</p>
<div style="height:20px;"></div>
<pre>
    <%= JSON.stringify(data) %>
</pre>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
        <div class="dash-block">
            Hello: <%= data.user.name %>
            Your ID: <%= data.user.id %>
            Email-id: <%= data.user.email %>
            Deployed: <%= data.deploy.length %>
        </div>
    </div>
</div>