<% 
if (ftp.length != 0){
    var f = ftp[0];
    var e = true;
}else{
    var e = false;
}
%>


<h3>
    <%= (e) ? 'Edit' : 'Add' %> FTP Server
    <a href="#ftp" class="btn btn-default pull-right"><i class="fa fa-arrow-left fa-fw"></i> List Servers</a>
</h3>
<div style="height:20px;"></div>
<p>
    Add a FTP server's configuration, later you can assign it for deployment.
</p>
<div class="row">
    <div class="col-md-6">
        <div class="addftp-div">
            <form action="" class="" id="addftp-form">
                
                <% if(false){ %>
                    <input type="hidden" name="id" value="<%= f['id'] %>">
                <% } %>
                       
                <div class="form-group">
                    <label>Host name</label>
                    <input type="text" name="host" class="form-control" placeholder="example.com / IP address" value="<%= (e) ? f['host'] : '' %>">
                </div>
                <div class="form-group">
                    <label>FTP username</label>
                    <input type="text" name="username" class="form-control" placeholder="Username" value="<%= (e) ? f['username'] : '' %>">
                </div>
                <div class="form-group">
                    <label>FTP password</label>
                    <input type="text" name="pass" class="form-control" placeholder="Password" value="<%= (e) ? f['pass'] : '' %>">
                </div>
                <div class="form-group">
                    <label>Schema</label>
                    <input type="text" name="scheme" class="form-control" placeholder="ftp, sftp, ftps" value="<%= (e) ? f['scheme'] : '' %>">
                </div>
                <div class="form-group">
                    <label>Path to deploy</label>
                    <input type="text" name="path" class="form-control" placeholder="Starting from root. EG: /public_html" value="<%= (e) ? f['path'] : '' %>">
                </div>
                <div class="form-group">
                    <label>FTP port</label>
                    <input type="text" name="port" class="form-control" placeholder="Port of FTP" value="<%= (e) ? f['port'] : '' %>">
                </div>
                <button style="submit" class="btn btn-primary">Save</button>
                <%= if(e){ %> 
                <button style="button" class="btn btn-danger">Remove</button>
                <%= } %>
            </form>
        </div>	
    </div>
    <div class="col-md-6">
        <p class="text-center"><strong>One line config:</strong>
            <br>
            <span class="text-success ftp-oneline">ftp://example:password@production-example.com:21/path/to/installation</span>
            <br>
            <br>
            <button style="button" class="btn btn-default btn-lg ftp-connectionTest"><i class="fa fa-exchange fa-fw"></i> Test connection</button>
        </p>
    </div>
</div>

<br>
<br>
<br>