<h3>
    FTP servers
    <a href="#ftp/add" class="btn btn-default pull-right"><i class="fa fa-plus fa-fw"></i> Add Server</a>
</h3>
<p>
    Wherein the files are deployed.
</p>
<div style="height:20px;"></div>

<% if(list.length > 0){ %>

<p>
    Your recently added FTP servers.
</p>
<div class="table-responsive">
<table class="table table-condensed table-hover">
    <tr>
        <th>
            Scheme
        </th>
        <th>
            Host
        </th>
        <th>
            Port
        </th>
        <th>
            Path
        </th>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th>
            
        </th>
    </tr>
    <% $.each(list, function(i, a){ %>

    <tr>
        <td>
            <%= a.scheme  %>
        </td>
        <td>
            <%= a.host  %>
        </td>
        <td>
            <%= a.path  %>
        </td>
        <td>
            <%= a.port  %>
        </td>
        <td>
            <%= a.username  %>
        </td>
        <td>
            <span title="<%= a.pass  %>">&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span>
        </td>
        <td>
            <a href="#ftp/edit/<%= a.id %>" data-toggle="tooltip" data-placement="left" title="Edit"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
            <a href="#" class="deleteftp" data-id="<%= a.id %>" data-toggle="tooltip" data-placement="bottom" title="Remove"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>    

    <% }) %>
</table>
</div>

<% }else{ %>
<p class="text-center">
    <br>
    <br>
    <span style="font-size: 1.3em;color: #ddd"> <i class="fa fa-plus fa-4x"></i> <br> <strong>NOTHING ADDED YET</strong></span>
    <br>
    <a class="btn btn-default" href="#/ftp/add" style="margin-top: 10px;">+ add now</a>
</p>

<% } %>


<br>
<br>
<br>