<div class="page-head">
    <div class="row">
        <div class="col-md-8">
            <div class="head">FTP servers</div>
            <div class="subhead">Wherein the files are deployed.</div>
        </div>
        <div class="col-md-4">
            <% if(list.length != 0){ %>
            <div class="pull-right">
                <!--<a href="#ftp/add" class="btn btn-success">Add Server</a>-->
                <a href="#ftp/add" data-toggle="tooltip" data-placement="left" title="Add Server" class="btn btn-success btn-circle btn-circle-lg"><i class="fa fa-plus"></i></a>
            </div>
            <% } %>
        </div>
    </div>
</div>

<div class="head-body-divider"></div>

<% if(list.length > 0){ %>
<div class="row">

    <% $.each(list, function(i, a){ %>

    <div class="ftp-servers-list col-md-6 col-sm-6" style="cursor:pointer" data-id="<%= a.id %>">
        <div class="project-list-block">
            <div class="header">
                <p>
                    <span class="head">
                        <i class="fa fa-server fa-fw"></i>
                        <%= (a.name) ? a.name : '(unnamed)' %>
                    </span> <br/>
                    <span class="">(<%= a.host %> - <%= a.username %>)</span>
                </p>

                <div class="clearfix"></div>
            </div>
            <span style="color: #aaa">Scheme: (<%= a.scheme %>) Port: <%= a.port %></span><br>
            <span>to folder <%= a.path %> <span class="pull-right"><%= moment(a.created_at).format('D/MMMM/YYYY hh:mm a') %></span></span>
        </div>
    </div>
    <% }) %>
</div>
<% }else{ %>

<!-- <p class="text-center">
    <br>
    <br>
    <span style="font-size: 1.3em;color: #ddd"> <i class="fa fa-plus fa-4x"></i> <br> <strong>NOTHING ADDED YET</strong></span>
    <br>
    <a class="btn btn-default" href="#/ftp/add" style="margin-top: 10px;">+ add now</a>
</p> -->
<div class="space10"></div>
<div class="space10"></div>
<p class="text-center" style="color: #aaa;">

    <span style="font-size: 24px;">Its empty here</span>
    <br>
    <span>Add a FTP server to link with your deployments.</span>
    <br>
    <br>
    <a href="#/ftp/add" class="btn btn-success">

        <i class="fa fa-file-o fa-3x"></i>
        <br/>
        <br/>
        Create new
    </a>

</p>
<% } %>

<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>

<div class="space20"></div>
<div class="space20"></div>
<div class="space20"></div>