<h3>
    FTP servers
    <a href="#ftp/add" class="btn btn-default pull-right"><i class="fa fa-plus fa-fw"></i> Add Server</a>
</h3>
<p>
    Wherein the files are deployed.
</p>
<div style="height:20px;"></div>

<% if(list.length > 0){ %>

<p>
    Your recently added FTP servers.
</p>
<div class="table-responsive">
<table class="table table-condensed table-hover">
    <tr>
        <th>
            Scheme
        </th>
        <th>
            Host
        </th>
        <th>
            Port
        </th>
        <th>
            Path
        </th>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th>
            
        </th>
    </tr>
    <% $.each(list, function(i, a){ %>

    <div class="viewdeploy col-md-6" style="cursor:pointer" data-id="<%= a.id %>">
        <div class="project-list-block">
            <div class="header">
                <p>
                    <span class="head">
                        <i class="fa fa-cloud-upload fa-fw"></i>
                        <%= a.name %>
                    </span> 
                    <span class="">(<%= a.status %>)</span>
                    
                </p>
                <div class="clearfix"></div>
            </div>
            <span style="color: #aaa">(<%= a.repository %>)</span><br>
            <span>deploy to <%= a.ftp[0].host %><%= a.ftp[0].path %> <span class="pull-right"><%= moment(a.lastdeploy).format('D/MMMM/YYYY hh:mm a') %></span></span>
        </div>
    </div>

    <% }) %>

    <% $.each(list, function(i, a){ %>
    <tr>
        <td>
            <%= a.scheme  %>
        </td>
        <td>
            <%= a.host  %>
        </td>
        <td>
            <%= a.path  %>
        </td>
        <td>
            <%= a.port  %>
        </td>
        <td>
            <%= a.username  %>
        </td>
        <td>
            <span title="<%= a.pass  %>">&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span>
        </td>
        <td>
            <a href="#ftp/edit/<%= a.id %>" data-toggle="tooltip" data-placement="left" title="Edit"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
            <a href="#" class="deleteftp" data-id="<%= a.id %>" data-toggle="tooltip" data-placement="bottom" title="Remove"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>

    <% }) %>
</table>
</div>

<% }else{ %>

<!-- <p class="text-center">
    <br>
    <br>
    <span style="font-size: 1.3em;color: #ddd"> <i class="fa fa-plus fa-4x"></i> <br> <strong>NOTHING ADDED YET</strong></span>
    <br>
    <a class="btn btn-default" href="#/ftp/add" style="margin-top: 10px;">+ add now</a>
</p> -->

<div class="space10"></div>
<div class="space10"></div>
<p class="text-center" style="color: #aaa;">
    <span style="font-size: 20px;">Its empty here</span>
    <br>
    <span>
        Add a FTP server to link with your deployments
    </span>
    <br>
    <br>

    <a href="#ftp/add" class="btn btn-default btn-lg">
        <i class="fa fa-server fa-2x" style="color: #ef3d37"></i> <br>
        Add your FTP server!
    </a>
</p>
<% } %>


<br>
<br>
<br>