<% if(s.ready == 0){ %>
<br>
<br>
<br>
<p class="text-center">
    Deploy for the first time, this will take time depending on the Size of your Repository. <br>
    Grab a coffee and relax.
    <br>
    <br>
    <% if(/cloning|uploading/.test(s.status.toLowerCase())){ %>
    <button type="button" class="btn btn-default btn-lg startdeploy" disabled="disabled"><i class="fa fa-spin fa-spinner fa-fw"></i> Deploy in progress</button>
    <% }else{ %>
    <button type="button" class="btn btn-default btn-lg startdeploy"><i class="fa fa-coffee fa-fw"></i> Start Deploy</button>
    <% } %>
</p>
<br>
<br>
<br>
<% } %>

<% if(activity.data.length != 0 ){ %>
<p style="font-size: 20px;">Recent deploy list</p>
<table class="table table-condensed">
    <tr>
        <th>
        </th>
        <th>
            Time
        </th>
        <th>
            by
        </th>
        <th>
            Data Deployed
        </th>
        <th>
            Diff
        </th>
    </tr>
    <% $.each(activity.data, function(i, a){ %>
    <tr>
        <%
        switch(a.status){
        case '0': 
        var ic = 'times';
        var co = 'ff3b30';
        break;
        case '1':
        var ic = 'check';
        var co = '4cd964';
        break;
        case '2':
        var ic = 'spin fa-spinner';
        var co = 'FF9500';
        break;
        }
        %>

        <td>
            <i class="fa fa-<%= ic %> fa-fw" style="color: #<%= co %> "></i>
        </td>
        <td>
            <%= a.date %>
        </td>
        <td>
            <%= (a.avatar)? a.avatar : '' %>
            <%= a.triggerby %>
        </td>
        <td>
            <%= a.amount_deployed %>
        </td>
        <td>
            <span style="color: #4CD964" data-toggle="tooltip" data-placement="bottom" title="<%= a.file_add %>"><i class="fa fa-plus fa-fw" ></i> <%= a.file_add.length %></span> &nbsp;
            <span style="color: #8E8E93" data-toggle="tooltip" data-placement="bottom" title="<%= a.file_remove %>"><i class="fa fa-minus fa-fw"></i> <%= a.file_remove.length %></span>
        </td>
        <td class="text-right">
            <a href="#" class="watchRawData" data-id="<%= a.id %>" title="View raw console data">
                <i class="fa fa-gears fa-fw"></i> LOG
            </a>
        </td>
    </tr>
    <tr>

    </tr>
    <% }); %>
</table>

<% } %>