<h3>
    Deployment
    <a href="#deploy/new" class="btn btn-default pull-right"><i class="fa fa-plus fa-fw"></i> Create new</a>
</h3>
<p>
    Projects are deployment configurations.
</p>
<div style="height:20px;"></div>
<% if(list.length == 0){ %>

<div class="space10"></div>
<div class="space10"></div>
<p class="text-center" style="color: #aaa;">
    <span style="font-size: 20px;">Its empty here</span>
    <br>
    <span>Make sure you have a ftp server added and working to get started.</span>
    <br>
    <br>

    <a href="#deploy/new" class="btn btn-default btn-lg">
        <i class="fa fa-play fa-2x" style="color: #ef3d37"></i> <br>
        Add your first deploy!
    </a>
</p>

<% }else{ %>


<% $.each(list, function(i, a){ %>
<div class="row">
    <div class="viewdeploy col-md-6" style="cursor:pointer" data-id="<%= a.id %>">
        <div class="project-list-block">
            <div class="header">
                <p>
                    <span class="head">
                        <%= a.name %>
                    </span>
                    <span class="text-right"><%= a.status %></span>
                </p>
                <div class="clearfix"></div>
            </div>
            <span style="color: #aaa">(<%= a.repository %>)</span>
            <a href="<%= a.repository %>" target="empty" data-id="<%= a.id %>" class=""><i class="fa fa-external-link fa-fw"></i></a>
        </div>
    </div>
</div>
<% }) %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table class="table table-condensed table-hover">
    <tr>
        <th>
            ID
        </th>
        <th>
            Repository
        </th>
        <th>
            FTP
        </th>
        <th>
            USERNAME
        </th>
        <th>
            PASSWORD
        </th>
        <th>
            KEY
        </th>
        <th>

        </th>
    </tr>
    <% $.each(list, function(i, a){ %>
    <tr class="viewdeploy" style="cursor:pointer" data-id="<%= a.id %>">
        <td>
            <%= a.id %>
        </td>
        <td>
            <%= a.name %><br>
            <span style="color: #aaa">(<%= a.repository %>)</span>
        </td>
        <td>
            <strong>Host:</strong> <%= a.ftp[0].host %> <br> <strong>User:</strong> <%= a.ftp[0].username %>
        </td>
        <td>
            <%= a.username %>
        </td>
        <td>
            <%= a.password %>
        </td>
        <td>
            <%= a.key %>
        </td>
        <td>
            <a href="#" data-id="<%= a.id %>" class="deletedeploy"><i class="fa fa-trash-o fa-fw"></i></a>
        </td>
    </tr>
    <% }) %>
</table>
<% } %>
