<div class="page-head">
    <div class="row">
        <div class="col-md-8">
            <div class="head">Projects</div>
            <div class="subhead">Get started with deployment in minutes.</div>
        </div>
        <div class="col-md-4">
            <% if(list.length != 0){ %>
            <div class="pull-right">
                <a href="/project/new" id="new-project" data-toggle="tooltip" data-placement="left" title="Create new" class="btn btn-success btn-circle btn-circle-lg pull-right"><i class="fa fa-plus"></i></a>
            </div>
            <% } %>
        </div>
    </div>
</div>

<div class="head-body-divider"></div>

<% if(list.length == 0){ %>

<div class="space10"></div>
<div class="space10"></div>
<p class="text-center" style="color: #aaa;">

    <span style="font-size: 24px;">You've no projects setup</span>
    <br>
    <span>Click on "create new" to get started.</span>
    <br>
    <br>
    <a href="/project/new" class="btn btn-success">

        <i class="fa fa-file-o fa-3x"></i>
        <br/>
        <br/>
        Create new
    </a>

</p>

<% }else{ %>

<div class="row">
    <% $.each(list, function(i, a){ %>
    <div class="viewdeploy col-md-6 is-deploy-list" style="cursor:pointer" data-id="<%= a.id %>">
        <div class="project-list-block">
            <div class="header">
                <p>
                    <span class="head">
                        <i class="fa fa-fw fa-<%= (a.git_name) ? a.provider.toLowerCase() : 'cloud' %>"></i>&nbsp; <%= a.name %>
                    </span> <br/>
                    <span class="status">(<%= a.status %>)</span>
                </p>
                <div class="clearfix"></div>
            </div>
            <span style="color: #aaa">(<%= a.repository %>)</span><br>
            <span><span class=""><%= (a.lastdeploy == '0') ? 'Not deployed' : moment(a.lastdeploy).format('D/MMMM/YYYY hh:mm a') %></span></span>
        </div>
    </div>
    <% }) %>
</div>
<% } %>

<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>