<% if(s.ready == 0){ %>
<br>
<br>
<br>
<p class="text-center">
    Deploy for the first time, this will take time depending on the Size of your Repository. <br>
    Grab a coffee and relax.
    <br>
    <br>
    <% if(/cloning|uploading/.test(s.status.toLowerCase())){ %>
        <button type="button" class="btn btn-default btn-lg startdeploy" disabled="disabled"><i class="fa fa-spin fa-spinner fa-fw"></i> Deploy in progress</button>
    <% }else{ %>
        <button type="button" class="btn btn-default btn-lg startdeploy"><i class="fa fa-coffee fa-fw"></i> Start Deploy</button>
    <% } %>
</p>
<% }else{ %>

<p style="font-size: 20px;">Deploy list</p>
<% JSON.stringify(activity) %>
<table class="table table-condensed table-hover">
<!--    <tr>
        <th>
        </th>
        <th>
            When?
        </th>
        <th>
            Triggered by
        </th>
        <th>
            Data Deployed
        </th>
        <th>
            More
        </th>
    </tr>-->
    <% $.each(activity.data, function(i, a){ %>
    <tr>
        <td>
            <i class="fa fa-<%= (a.status) ? 'check' : 'times' %> fa-fw" style="<%= (a.status) ? 'color:#4cd964' : 'color:#ff3b30' %> "></i>
        </td>
        <td>
            <%= a.date %>
        </td>
        <td>
            <%= a.triggerby %>
        </td>
        <td>
            <%= a.amount_deployed %>
        </td>
        <td>
            <a href="#" class="watchRawData" data-id="<%= a.id %>" title="View raw console data">
                <i class="fa fa-gears fa-fw"></i> Detailed log
            </a>
        </td>
    </tr>
    <tr>

    </tr>
    <% }); %>
</table>

<% } %>