<%= JSON.stringify(s) %>
<div class="is-deploy-view-id" data-id="<%= s.id %>"></div>
<h3 class="pull-left" style="">
    <%= s.name %>
</h3>
<div class="pull-right">
    <div class="project-v-status project-co-<%= s.status %>" style="">
        Idle
    </div>
</div>
<div class="clearfix"></div>
<p style="color: #aaa">
    <%= s.repository %>
</p>
<div style="height: 10px;"></div>
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#deploy/v/<%= s.id %>" class="list-group-item page-subview subview-activity <%= (v == 'activity') ? 'active-cs' : '' %>"><i class="fa fa-line-chart fa-fw"></i> Activity</a>
            <a href="#deploy/v/<%= s.id %>/settings" class="list-group-item page-subview subview-settings <%= (v == 'settings') ? 'active-cs' : '' %>"><i class="fa fa-cog fa-fw"></i> Configure</a>
        </div>
        <div style="height: 10px;"></div>
        
        <div style="color: #aaa">
            <label>
                POST hook url:
            </label>
            <input class="form-control" style="font-family: consolas"
                   value="<%= base %>hook/i/<%= s.user_id %>/<%= s.id %>/<%= s.key %>">
        </div>
        <div style="height: 20px;"></div>
    </div>
    <div class="col-md-9">

        <div class="well well-sm well-cs">
            <%
            if(s.lastdeploy == 0){
                var ld = 'Not deployed yet';
            }else{
                var ld = moment(s.lastdeploy).format('MMMM Do YYYY, h:mm:ss a');
            }
            %>
            <strong><i class="fa fa-undo"></i> Last deploy at:</strong> <%= ld %>

            <div class="pull-right">
                <% if(s.cloned == 0){ %>
                <strong><i class="fa fa-<%= (s.cloned == 0) ?  'times' : 'check' %>"></i> Processed</strong> | 
                <% } %>
                <strong><i class="fa fa-<%= (s.deployed == 0) ?  'times' : 'check' %>"></i> Deployed</strong>
            </div>
        </div>
        <div class="deploy-sub-page bb-loading"></div>
    </div>
</div>
