<h3>
    Deployment
    <a href="#deploy/new" class="btn btn-default pull-right"><i class="fa fa-plus fa-fw"></i> Create new</a>
</h3>
<p>
    Get started with deployment in minutes.
</p>
<div style="height:20px;"></div>

<% if(list.length == 0){ %>

<div class="space10"></div>
<div class="space10"></div>
<p class="text-center" style="color: #aaa;">
    <span style="font-size: 20px;">Its empty here</span>
    <br>
    <span>Make sure you have a ftp server added and working to get started.</span>
    <br>
    <br>

    <a href="#deploy/new" class="btn btn-default btn-lg">
        <i class="fa fa-cloud-upload fa-2x" style="color: #ef3d37"></i> <br>
        Add your first deploy!
    </a>
</p>

<% }else{ %>

<div class="row">
    <% $.each(list, function(i, a){ %>
    <div class="viewdeploy col-md-6 is-deploy-list" style="cursor:pointer" data-id="<%= a.id %>">
        <div class="project-list-block">
            <div class="header">
                <p>
                    <span class="head">
                        <i class="fa fa-cloud-upload fa-fw"></i>
                        <%= a.name %>
                    </span> 
                    <span class="status">(<%= a.status %>)</span>
                    
                </p>
                <div class="clearfix"></div>
            </div>
            <span style="color: #aaa">(<%= a.repository %>)</span><br>
            <span>deploy to <%= a.ftp[0].host %><%= a.ftp[0].path %> <span class="pull-right"><%= moment(a.lastdeploy).format('D/MMMM/YYYY hh:mm a') %></span></span>
        </div>
    </div>
    <% }) %>
</div>

<br>
<br>
<br>
<% } %>
