
<% JSON.stringify(s) %>
<div class="is-deploy-view-id" data-id="<%= s.id %>"></div>
<h3 class="pull-left" style="margin-top: 0px;">
    <%= s.name %>
</h3>
<div class="pull-right">
    <div class="project-v-status" style="margin-top: 0px;">
        <%= s.status %>
    </div>
</div>
<div class="clearfix"></div>

<p style="color: #aaa">
    <%= s.repository %>
</p>
<div style="height: 10px;"></div>
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#deploy/v/<%= s.id %>" class="list-group-item <%= (v == 'activity') ? 'active-cs' : '' %>"><i class="fa fa-line-chart fa-fw"></i> Activity</a>
            <a href="#deploy/v/<%= s.id %>/settings" class="list-group-item <%= (v == 'settings') ? 'active-cs' : '' %>"><i class="fa fa-cog fa-fw"></i> Configure</a>
        </div>
        <div style="height: 10px;"></div>

        <div class="well well-sm well-cs">
            Server in use: <br>
            <strong>host:</strong> <%= s.ftp[0].host %>  <br>
            <strong>username:</strong> <%= s.ftp[0].username %>
        </div>
        
        <label>
            
            <input class="form-control" value="asda">
        </label>
    </div>
    <div class="col-md-9">

        <div class="well well-sm well-cs">
            <strong><i class="fa fa-undo"></i> Last deploy at:</strong> <%= (s.lastdeploy == 0) ?  'Not deployed yet' : s.lastdeploy %>

            <% if(s.ftpdata.revision){ %>
            <br>
            <strong>Revision on <%= s.ftp[0].host %>:</strong> # <%= s.ftpdata.revision.substring(0, 6) %>
            <% } %>

            <div class="pull-right">
                <% if(s.cloned == 0){ %>
                <strong><i class="fa fa-<%= (s.cloned == 0) ?  'times' : 'check' %>"></i> Cloned</strong> | 
                <% } %>
                <strong><i class="fa fa-<%= (s.deployed == 0) ?  'times' : 'check' %>"></i> Deployed</strong>
            </div>
        </div>
        
        <div class="deploy-sub-page bb-loading"></div>
    </div>
</div>
