<h3>
    Setup a Deployment
    <span class="pull-right">
        <a href="#" class="btn btn-success" id="deploy-save-new"><i class="fa fa-save fa-fw"></i> Save deployment configuration</a>
        <a href="#deploy" class="btn btn-default"><i class="fa fa-arrow-left fa-fw"></i> List deploys</a>
    </span>
</h3>
<p>
    Configure your new deployment.
</p>
<div style="height:20px;"></div>

<form action="" id="add-deploy-form">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">REPO NAME</label>
                <input type="text" name="name" id="name" placeholder="Name your deploy" class="form-control" required>
                <p class="help-block">Something descriptive.</p>
            </div>
            <div class="form-group">
                <label for="add-repo">GIT REPOSITORY</label>
                <div class="input-group">
                    <input type="text" name="repo" id="add-repo" placeholder="link to repo .git" class="form-control" required>
                    <span class="input-group-btn">
                        <button class="btn btn-info testconnectiontorepo" type="button">connect</button>
                    </span>
                </div>
                <p class="help-block"><i class="fa fa-bitbucket"></i> Bitbucket &amp;  <i class="fa fa-github"></i> GitHub are supported.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="deploy-add-privaterepo"> This is a private Repository.
                </label>
            </div>
            <div id="deploy-add-privaterepo-div" style="background-color: #eee; padding: 5px; border-radius: 4px; margin-bottom: 10px; display:none">
                <!--<p class="help-block">SSH keys not supported for the moment.</p>-->
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Git host username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password"><i class="fa fa-lock fa-fw"></i> Password</label>
                    <input type="password" name="password" placeholder="Git host password" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label>ACCESS KEY</label>
                <input class="form-control" name="key" placeholder="Something random" required>
                <p class="help-block">Used for Post-hook.</p>
            </div>

        </div>
        <div class="col-md-8">
            <p style="margin-top: 0px; font-weight:bold">CREATE DEPLOY ENVIRONMENTS</p>
            <p class="">
                Environments makes it easy to Deploy your code into multiple servers, and maintain your workflow. <br>
                You can have Development Env, Testing Env, Production Env, Etc. <br>
            </p>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>BRANCH</th>
                        <th>DEPLOY TO</th>
                        <th>AUTOMATED</th>
                    </tr>
                </thead>
                <tbody>
                    <% var rows = 0; while(rows<3){ %>
                    <tr class="env-rows">
                        <td width="30%">
                            <input type="text" class="form-control" placeholder="Dev/Test/Prod" name="env_name">
                        </td>
                        <td width="30%">
                            <select class="form-control selectpicker repo-branches" name="env_branch" required>
                                <option value="">No branches</option>
                            </select>
                        </td>
                        <td width="30%">
                            <select class="form-control selectpicker" data-header="Select a server." name="env_ftp" required>
                                <option value=""> - Select a FTP server - </option>
                                <% $.each(ftplist, function(i, a){ %>
                                <option value="<%= a.id %>" data-subtext="<%= a.username %> to <%= a.path %>"><%= (a.name) ? a.name : a.host %></option>
                                <% }) %>
                            </select>
                        </td>
                        <td>
                            <div class="checkbox" style="margin: 0; margin-top: 6px;">
                                <label>
                                    <input type="checkbox" name="automate">
                                </label>
                            </div>
                        </td>
                    </tr>
                    <% rows+=1; } %>
                </tbody>
            </table>
        </div>
    </div>
</form>

<br>
<br>
<br>
<br>
<!--    <div class="col-md-6">
       <div class="text-center">
           <h3 style="font-weight: normal">Step 1</h3>
           <p>
               Create a deploy configuration here.
           </p>
           <h3 style="font-weight: normal">Step 2</h3>
           <p>
               Goto your newly created deploy, and deploy it on the ftp server for the first time.
           </p>
           <h3 style="font-weight: normal">Step 3</h3>
           <p>
               Add the POST-Hook provided to your Git host.
           </p>
           <h3 style="font-weight: normal">Step 4</h3>
           <p>
               Commit, Push, Deploy !
           </p>
       </div>
   </div> -->