<% if(s.ready == 0){ %>
<br>
<br>
<br>
<p class="text-center">
    Deploy for the first time, this will take time depending on the Size of your Repository. <br>
    Grab a coffee and relax.
    <br>
    <br>
    <% if(/cloning|uploading/.test(s.status.toLowerCase())){ %>
    <button type="button" class="btn btn-default btn-lg startdeploy" disabled="disabled"><i class="fa fa-spin fa-spinner fa-fw"></i> Deploy in progress</button>
    <% }else{ %>
    <button type="button" class="btn btn-default btn-lg startdeploy"><i class="fa fa-coffee fa-fw"></i> Start Deploy</button>
    <% } %>
</p>
<br>
<br>
<br>
<% } %>

<% if(activity.data.length != 0 ){ %>
<p style="font-size: 20px;">Recent deploy list</p>
<table class="table table-condensed">
    <tr>
        <th>
        </th>
        <th>
            Details
        </th>
        <th colspan="3">
        </th>
    </tr>
    <% $.each(activity.data, function(i, a){ %>
    <tr>
        <%
            switch(a.status){
            case '0': 
            var ic = 'times';
            var co = 'ff3b30';
            var ct = 'Deploy failed';
            break;
            case '1':
            var ic = 'check';
            var co = '4cd964';
            var ct = 'Deploy Successful';
            break;
            case '2':
            var ic = 'spin fa-spinner';
            var co = 'FF9500';
            var ct = 'Deploying';
            break;
        }
        %>

        <td>
            <i class="fa fa-<%= ic %> fa-fw" data-toggle="tooltip" data-placement="right" title="<%= ct %>" style="color: #<%= co %> "></i>
        </td>
        <td>
            <span><%= a.date %></span>
            <%= (a.hash) ? ' <code>'+a.hash.substr(0, 6)+'</code>' : '' %>
            <br>
            <%= (a.avatar_url)? '<img src="'+a.avatar_url+'&s=20"/>' : '' %>
            <%
            if(a.commit_message.length > 46){
                var commit_message = a.commit_message.substr(0, 46);
            }else{
                var commit_message = a.commit_message;
            }
            %>
            <strong><%= a.triggerby %></strong><%= (a.commit_message) ? ' deployed <strong data-toggle="tooltip" data-placement="top" title="<%= a.commit_message %>">'+commit_message+'</strong>' : '' %>
        </td>
        <td>
            <strong><%= a.amount_deployed %></strong> of Payload
            <%= (a.commit_count) ? '<br> '+a.commit_count+' commit(s) pushed' : '' %>
        </td>
        <td>
            Files diff: <br>
            <span style="color: #4CD964" data-toggle="tooltip" data-placement="left" title="<%= a.file_add %>"><i class="fa fa-plus fa-fw" ></i> <%= a.file_add.length %></span> &nbsp;
            <span style="color: #8E8E93" data-toggle="tooltip" data-placement="left" title="<%= a.file_remove %>"><i class="fa fa-minus fa-fw"></i> <%= a.file_remove.length %></span>
        </td>
        <td class="text-right">
            <a href="#" class="watchRawData" data-id="<%= a.id %>" title="View raw console data" data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-gears fa-fw"></i> LOG
            </a>
        </td>
    </tr>
    <tr>
        <script>
            $('[data-toggle="tooltip"]').tooltip();
        </script>
    </tr>
    <% }); %>
</table>

<% } %>