<%
if(list.length != 0){
var s = list[0];
}
%>

<% JSON.stringify(s) %>

<h3 class="pull-left">
    <%= s.name %>
</h3>
<div class="pull-right">
    <div class="project-v-status">
        Status: <%= s.status %>
    </div>
</div>
<div class="clearfix"></div>
<p style="color: #aaa">
    <%= s.repository %>
</p>
<div style="height:20px;"></div>



<div class="well well-sm well-cs">
    <strong><i class="fa fa-undo"></i> Last Deploy at:</strong> <%= (s.lastdeploy == 0) ?  'Not deployed yet' : s.lastdeploy %>
    <div class="pull-right">
        <strong><i class="fa fa-<%= (s.cloned == 0) ?  'times' : 'check' %>"></i> Cloned</strong> | 
        <strong><i class="fa fa-<%= (s.deployed == 0) ?  'times' : 'check' %>"></i> Deployed</strong>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#deploy/v/<%= s.id %>" class="list-group-item active-cs"><i class="fa fa-lock fa-fw"></i> Main page</a>
            <a href="#deploy/v/<%= s.id %>/settings" class="list-group-item"><i class="fa fa-cog fa-fw"></i> Configure</a>
        </div>
        <div style="height: 10px;"></div>
        <!--        <div class="well well-sm well-cs">
                    Server in use: <br>
                    <strong>host:</strong> <% s.ftp[0].host %>  <br>
                    <strong>username:</strong> <% s.ftp[0].username %>
                </div>-->
    </div>
    <div class="col-md-9">
        <% if(s.status.toLowerCase() == 'not initialized' || /First deploy/ig.test(s.status)){ %>
        <br>
        <br>
        <br>
        <p class="text-center">
            Deploy for the first time, this will take time depending on the Size of your Repository. <br>
            Grab a coffee
            <br>
            <br>
            <%
            if(s.status.toLowerCase() == 'not initialized'){
            var icon = 'fa fa-coffee fa-fw';
            var disabled = '';
            }else{
            var icon = 'fa fa-spin fa-spinner fa-fw';
            var disabled = 'disabled="disabled"';
            }
            %>
            <button type="button" class="btn btn-default btn-lg startdeploy" <%= disabled %> ><i class="<%= icon %>"></i> Start Deploy</button>
        </p>
        <% } %>
    </div>
</div>
