<h3>
    Setup a Deployment
    <a href="#deploy" class="btn btn-default pull-right"><i class="fa fa-arrow-left fa-fw"></i> List deploys</a>
</h3>
<p>
    Configure your new deployment.
</p>
<div style="height:20px;"></div>

<form action="" id="deploy-save-new">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">REPO NAME</label>
                <input type="text" name="name" id="name" placeholder="Name your deploy" class="form-control" required>
                <p class="help-block">Something descriptive.</p>
            </div>
            <div class="form-group">
                <label for="add-repo">GIT REPOSITORY</label>
                <input type="text" name="repo" id="add-repo" placeholder="link to repo .git" class="form-control" required>
                <p class="help-block"><i class="fa fa-bitbucket"></i> Bitbucket &amp;  <i class="fa fa-github"></i> GitHub are supported.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="deploy-add-privaterepo"> This is a private Repository.
                </label>
            </div>
            <div id="deploy-add-privaterepo-div" class="green-bg white" style="padding: 5px; border-radius: 4px; margin-bottom: 10px; display:none">
                <!--<p class="help-block">SSH keys not supported for the moment.</p>-->
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Git host username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="repo">Password</label>
                    <input type="text" name="password" placeholder="Git host password" class="form-control">
                    <p class="help-block pull-right"><i class="fa fa-lock"></i> Secured.</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="form-group">
                <label>ACCESS KEY</label>
                <input class="form-control" name="key" placeholder="Something random" required>
                <p class="help-block">Used for Post-hook.</p>
            </div>

        </div>
        <div class="col-md-8">
            
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>NAME</th>
                    </tr>
                    <tr>
                        <th>DEPLOY TO</th>
                    </tr>
                    <tr>
                        <th>BRANCH</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                    </tr>
                </tbody>
            </table>
            
            <div class="form-group">
                <label>FTP SERVER TO DEPLOY</label>
                <select class="form-control" name="ftp-production" required>
                    <option value=""> - Select a FTP server - </option>
                    <% $.each(ftplist, function(i, a){ %>
                    <option value="<%= a.id %>"><%= a.host %><%= a.path %> - <%= a.username %></option>
                    <% }) %>
                </select>
                <p class="help-block">We'll deploy to this server.</p>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success pull-right"><i class="fa fa-save fa-fw"></i> Save deployment configuration</button>
        </div>
    </div>
</form>

<br>
<br>
<br>
<br>
<!--    <div class="col-md-6">
       <div class="text-center">
           <h3 style="font-weight: normal">Step 1</h3>
           <p>
               Create a deploy configuration here.
           </p>
           <h3 style="font-weight: normal">Step 2</h3>
           <p>
               Goto your newly created deploy, and deploy it on the ftp server for the first time.
           </p>
           <h3 style="font-weight: normal">Step 3</h3>
           <p>
               Add the POST-Hook provided to your Git host.
           </p>
           <h3 style="font-weight: normal">Step 4</h3>
           <p>
               Commit, Push, Deploy !
           </p>
       </div>
   </div> -->