@import url(//fonts.googleapis.com/css?family=Roboto:400,700,500);
@import url(//fonts.googleapis.com/css?family=Bitter);
::-moz-selection {
  background: #aaa;
  color: white;
}
::selection {
  background: #aaa;
  color: white;
}
.b {
  font-family: 'Bitter', serif;
}
.i {
  font-style: italic;
}
.red {
  color: #ff5a5a;
}
.white-c {
  color: white !important;
}
.white-c * {
  color: white !important;
}
.red-bg {
  background: #ff5a5a;
}
.gray {
  color: #aaaaaa;
}
.gray-bg {
  background: #f8f8f8;
}
.blue {
  color: #0091ea;
}
.blue-bg {
  background: #0091ea;
}
.base {
  color: #0091ea;
}
.base-bg {
  background: #0091ea;
}
.green {
  color: #00c853;
}
.green-bg {
  background: #00c853;
}
.orange {
  color: #f7941d;
}
.orange-bg {
  background: #f7941d;
}
.darkblue {
  color: #4173b9;
}
.darkblue-bg {
  background: #4173b9;
}
.redalt {
  color: #ef4036;
}
.redalt-bg {
  background: #ef4036;
}
.space5 {
  height: 5px;
}
.space10 {
  height: 10px;
}
.space15 {
  height: 15px;
}
.space20 {
  height: 20px;
}
label.error {
  font-weight: 100;
  font-size: 12px;
  color: red;
}
.shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.shadow-x2 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
}
.shadow-x3 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.14), 0 6px 10px 0 rgba(0, 0, 0, 0.098), 0 1px 18px 0 rgba(0, 0, 0, 0.084);
}
.shadow-x4 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.14), 0 6px 10px 0 rgba(0, 0, 0, 0.098), 0 1px 18px 0 rgba(0, 0, 0, 0.084);
}
.shadow-x5 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.14), 0 16px 24px 2px rgba(0, 0, 0, 0.098), 0 6px 30px 5px rgba(0, 0, 0, 0.084);
}
.dropdown .open > a,
.dropdown-toggle .open > a,
.bootstrap-select .open > a {
  background-color: white !important;
  color: #0091ea !important;
}
.dropdown .open .divider,
.dropdown-toggle .open .divider,
.bootstrap-select .open .divider {
  background-color: #f5f5f5;
}
.dropdown .dropdown-menu,
.dropdown-toggle .dropdown-menu,
.bootstrap-select .dropdown-menu {
  border: none;
  background: white;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
}
.dropdown .dropdown-menu.dropdown-menu-material,
.dropdown-toggle .dropdown-menu.dropdown-menu-material,
.bootstrap-select .dropdown-menu.dropdown-menu-material {
  top: 0px;
}
.dropdown .dropdown-menu.dropdown-menu-material a,
.dropdown-toggle .dropdown-menu.dropdown-menu-material a,
.bootstrap-select .dropdown-menu.dropdown-menu-material a {
  font-weight: 500;
  padding: 4px 25px 4px 20px;
}
.form-control-static {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mono {
  font-family: consolas;
}
.fa {
  line-height: inherit;
}
a.btn {
  padding: 9px 10px 9px;
}
.btn {
  background-image: none;
  border: solid 1px;
  border-radius: 4px;
  -webkit-transition: all .4s;
          transition: all .4s;
  text-transform: uppercase;
  font-weight: bold;
  border-color: transparent;
  white-space: normal;
  line-height: 18px;
}
.btn:focus {
  outline: none !important;
}
.btn:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-color: transparent;
}
.btn:active {
  box-shadow: none;
}
.btn:disabled {
  border-color: transparent;
}
.btn.btn-default {
  background-color: white;
  color: #555;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.btn.btn-default.btn-gitftp {
  color: #0091ea;
}
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
  background-image: none;
  background-color: #f6f6f6;
}
.btn.btn-success {
  background: #00c853;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success:active {
  background: #00af48;
}
.btn.btn-link:hover {
  text-decoration: none;
}
.btn.btn-danger {
  background-color: #ff5a5a;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.btn.btn-warning {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.btn.btn-info {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.btn.btn-clean {
  background: none;
  box-shadow: none;
}
.btn.btn-clean:hover,
.btn.btn-clean:focus,
.btn.btn-clean:active {
  background: none;
  box-shadow: none;
}
.btn.btn-circle {
  border-radius: 50px;
  padding: 9px 11px 7px 10px;
}
.btn.btn-circle.btn-circle-lg {
  padding: 0px;
  font-size: 16px;
  height: 45px;
  width: 45px;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  line-height: 43px;
}
.jconfirm.supervan .jconfirm-bg {
  background-color: rgba(255, 255, 255, 0.8);
}
.jconfirm.supervan .jconfirm-box {
  background-color: transparent;
}
.jconfirm.supervan .jconfirm-box div.title {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
}
.jconfirm.supervan .jconfirm-box div.content {
  text-align: center;
}
.jconfirm.supervan .jconfirm-box .buttons {
  text-align: center;
}
.jconfirm.supervan .jconfirm-box .buttons button {
  font-size: 16px;
  border-radius: 2px;
  background: #0088db;
  text-shadow: none;
  border: none;
  color: white;
  width: 25%;
  padding: 10px;
}
.jconfirm.supervan .jconfirm-box .buttons button:hover {
  background: #007ecb;
}
.jconfirm.supervan .jconfirm-box.hilight {
  box-shadow: none;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.checkbox.gf-checkbox input {
  display: none;
}
.checkbox.gf-checkbox label {
  padding-left: 25px;
  line-height: 21px;
}
.checkbox.gf-checkbox label:before {
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  border: solid 2px #aaaaaa;
  border-radius: 4px;
  margin-top: 1px;
  left: 0;
  -webkit-transition: all .2s;
          transition: all .2s;
}
.checkbox.gf-checkbox label:after {
  content: '';
  position: absolute;
  border: solid 2px;
  height: 22px;
  width: 11px;
  border-radius: 0px;
  margin-top: 3px;
  left: 0;
  top: 0;
  margin-left: 4px;
  border-color: transparent #00c853 #00c853 transparent;
  -webkit-transition: all 0.2s cubic-bezier(0.43, 0.96, 0.53, 0.98);
          transition: all 0.2s cubic-bezier(0.43, 0.96, 0.53, 0.98);
  -webkit-transform: scale(0) rotate(41deg);
      -ms-transform: scale(0) rotate(41deg);
          transform: scale(0) rotate(41deg);
}
.checkbox.gf-checkbox input:checked + label:before {
  border-color: #dddddd;
}
.checkbox.gf-checkbox input:checked + label:after {
  -webkit-transform: scale(1) rotate(41deg);
      -ms-transform: scale(1) rotate(41deg);
          transform: scale(1) rotate(41deg);
}
.radio.gf-radio input {
  display: none;
}
.radio.gf-radio label {
  padding-left: 25px;
  line-height: 21px;
}
.radio.gf-radio label:before {
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  border: solid 2px #aaaaaa;
  margin-top: 1px;
  margin-left: -25px;
  -webkit-transition: all .2s;
          transition: all .2s;
  border-radius: 50px;
}
.radio.gf-radio label:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  left: 0;
  border-radius: 4px;
  background: #00c853;
  margin-top: 6px;
  margin-left: 5px;
  -webkit-transition: all 0.2s cubic-bezier(0.43, 0.96, 0.53, 0.98);
          transition: all 0.2s cubic-bezier(0.43, 0.96, 0.53, 0.98);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.radio.gf-radio input:checked + label:before {
  border-color: #00c853;
}
.radio.gf-radio input:checked + label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.panel {
  border: none;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.panel .panel-body.panel-body-material {
  padding: 20px 25px;
}
.panel .panel-body .panel-title {
  font-size: 18px;
  text-transform: capitalize;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control {
  border: none;
  border-bottom: solid 2px #cfd8dc !important;
  box-shadow: none;
  border-radius: 0px;
  padding-left: 0px;
  background: transparent;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus,
select:active,
textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.form-control:active {
  border-bottom-color: #0091ea !important;
  box-shadow: none;
  outline: none;
}
select[disabled],
textarea[disabled],
input[type="text"][disabled],
input[type="password"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
.form-control[disabled],
select[readonly],
textarea[readonly],
input[type="text"][readonly],
input[type="password"][readonly],
input[type="datetime"][readonly],
input[type="datetime-local"][readonly],
input[type="date"][readonly],
input[type="month"][readonly],
input[type="time"][readonly],
input[type="week"][readonly],
input[type="number"][readonly],
input[type="email"][readonly],
input[type="url"][readonly],
input[type="search"][readonly],
input[type="tel"][readonly],
input[type="color"][readonly],
.form-control[readonly] {
  border-bottom: dotted 2px #cfd8dc !important;
}
select.error,
textarea.error,
input[type="text"].error,
input[type="password"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="date"].error,
input[type="month"].error,
input[type="time"].error,
input[type="week"].error,
input[type="number"].error,
input[type="email"].error,
input[type="url"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="color"].error,
.form-control.error {
  border-bottom-color: #ff5a5a !important;
}
.hilight {
  -webkit-animation: shake infinite 0.4s cubic-bezier(0.43, 0.96, 0.53, 0.98);
          animation: shake infinite 0.4s cubic-bezier(0.43, 0.96, 0.53, 0.98);
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.14), 0 16px 24px 2px rgba(0, 0, 0, 0.098), 0 6px 30px 5px rgba(0, 0, 0, 0.084);
}
@-webkit-keyframes shake {
  1% {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  25% {
    -webkit-transform: translate(-20px, 0px);
            transform: translate(-20px, 0px);
  }
  50% {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  75% {
    -webkit-transform: translate(-20px, 0px);
            transform: translate(-20px, 0px);
  }
  99% {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
}
@keyframes shake {
  1% {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  25% {
    -webkit-transform: translate(-20px, 0px);
            transform: translate(-20px, 0px);
  }
  50% {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  75% {
    -webkit-transform: translate(-20px, 0px);
            transform: translate(-20px, 0px);
  }
  99% {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
}
i.gf {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
i.gf-loading:before {
  content: '';
  height: inherit;
  width: inherit;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50px;
  border-width: 3px 0px 0px 0px;
  -webkit-animation: spin .5s infinite linear;
          animation: spin .5s infinite linear;
  border: solid 2px rgba(0, 0, 0, 0);
  border-top-color: #0091ea;
  border-bottom-color: transparent;
}
i.gf-loading-white:before {
  border-top-color: white;
}
i.gf-btn {
  margin-right: 5px;
}
i.gf-block {
  display: block;
}
i.gf-alert {
  margin-bottom: 10px;
}
.btn-warning i.gf-loading:before,
.btn-primary i.gf-loading:before,
.btn-danger i.gf-loading:before,
.btn-info i.gf-loading:before,
.btn-success i.gf-loading:before {
  border-top-color: white;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
