@import url(//fonts.googleapis.com/css?family=Roboto:400,700,500);
@import url(//fonts.googleapis.com/css?family=Bitter);
::selection {
  background: #aaa;
  color: white;
}
.b {
  font-family: 'Bitter', serif;
}
.i {
  font-style: italic;
}
.red {
  color: #FF5A5A;
}
.white-c {
  color: white !important;
}
.white-c * {
  color: white !important;
}
.red-bg {
  background: #FF5A5A;
}
.gray {
  color: #aaaaaa;
}
.gray-bg {
  background: rgba(248, 248, 248, 0.42);
}
.white {
  color: white;
}
.white-bg {
  background: white;
}
.blue {
  color: #0091EA;
}
.blue-bg {
  background: #0091EA;
}
.base {
  color: #0091EA;
}
.base-bg {
  background: #0091EA;
}
.green {
  color: #00C853;
}
.green-bg {
  background: #00C853;
}
.orange {
  color: #F7941D;
}
.orange-bg {
  background: #F7941D;
}
.darkblue {
  color: #4173B9;
}
.darkblue-bg {
  background: #4173B9;
}
.redalt {
  color: #EF4036;
}
.redalt-bg {
  background: #EF4036;
}
.space5 {
  height: 5px;
}
.space10 {
  height: 10px;
}
.space15 {
  height: 15px;
}
.space20 {
  height: 20px;
}
.border-radius {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.precent-padding {
  padding: 15%;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-top: 0 !important;
}
.no-border {
  border: none !important;
}
.margin {
  margin: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-margin-top {
  margin-top: 0;
}
label.error {
  font-weight: bold;
  font-size: 13px;
  color: #FF5A5A;
}
.shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.shadow-x2 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
}
.shadow-x3 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.14), 0 6px 10px 0 rgba(0, 0, 0, 0.098), 0 1px 18px 0 rgba(0, 0, 0, 0.084);
}
.shadow-x4 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.14), 0 6px 10px 0 rgba(0, 0, 0, 0.098), 0 1px 18px 0 rgba(0, 0, 0, 0.084);
}
.shadow-x5 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.14), 0 16px 24px 2px rgba(0, 0, 0, 0.098), 0 6px 30px 5px rgba(0, 0, 0, 0.084);
}
