@import url(//fonts.googleapis.com/css?family=Roboto:400,700,500);
@import url(//fonts.googleapis.com/css?family=Bitter);

@red: #EF3D3D;
@red: #FF5A5A;
//@blue: #62C7F2;
@blue: #0091EA;
@blue_light: #00B0FF;
@blue_dark: #0277BD;
@base: @blue;
//@green: #66BD61;
@green: #00C853;
@orange: #F7941D;
@darkblue: #4173B9;
@redalt: #EF4036;
@gray: #aaaaaa;
//@bg: #ecf0f1;
//@bg: #f9f9f9;
//@bg: #F5F5F5;
@bg: rgba(245, 245, 245, 0.42);
@border_color: #CFD8DC;

@loading: #01b5e9;
@loadingg: #4cd964;
@easing : cubic-bezier(.43, .96, .53, .98);

::selection {
  background: #aaa;
  color: white;
}

.b {
  font-family: 'Bitter', serif;
}

.i {
  font-style: italic;
}

.red {
  color: @red;
}

.white-c {
  color: white !important;
  * {
    color: white !important;
  }
}

.red-bg {
  background: @red;
}

.gray {
  color: @gray;
}

.gray-bg {
  background: lighten(@bg, 1%);
}

.white {
  color: white;
}

.white-bg {
  background: white;
}

.blue {
  color: @blue;
}

.blue-bg {
  background: @blue;
}

.base {
  color: @base;
}

.base-bg {
  background: @base;
}

.green {
  color: @green;
}

.green-bg {
  background: @green;
}

.orange {
  color: @orange;
}

.orange-bg {
  background: @orange;
}

.darkblue {
  color: @darkblue;
}

.darkblue-bg {
  background: @darkblue;
}

.redalt {
  color: @redalt;
}

.redalt-bg {
  background: @redalt;
}

.space5 {
  height: 5px;
}

.space10 {
  height: 10px;
}

.space15 {
  height: 15px;
}

.space20 {
  height: 20px;
}

.border-radius {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.precent-padding {
  padding: 15%;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-top: 0 !important;
}

.no-border {
  border: none !important;
}

.margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

label.error {
  font-weight: bold;
  font-size: 13px;
  color: @red;
}

.shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
}

.shadow-x2 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .14), 0 4px 5px 0 rgba(0, 0, 0, .098), 0 1px 10px 0 rgba(0, 0, 0, .084);
}

.shadow-x3 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .14), 0 6px 10px 0 rgba(0, 0, 0, .098), 0 1px 18px 0 rgba(0, 0, 0, .084);
}

.shadow-x4 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .14), 0 6px 10px 0 rgba(0, 0, 0, .098), 0 1px 18px 0 rgba(0, 0, 0, .084);
}

.shadow-x5 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .14), 0 16px 24px 2px rgba(0, 0, 0, .098), 0 6px 30px 5px rgba(0, 0, 0, .084);
}