.home-image {
  background: #ef3d37;
  background-image: url('../img/home.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 500px;
}
.home-image img.logo-image {
  width: 50%;
}
.home-image span {
  color: white;
}
.bg-gray {
  background: #f8f8f8;
}
