.home-image {
  background: #ef3d37;
  background-image: url('../img/home.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}
.home-image img.logo-image {
  width: 50%;
}
