
// Home page stylings
@red : #ef3d37;

.home-image{
    background: @red;
    background-image: url('../img/home.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 500px;
    
    img.logo-image{
        width: 50%;
    }
    span{
        color: white;
    }
}
.bg-gray{
    background: #f8f8f8;
}