
// Home page stylings
@red : #ef3d37;
@blue : #63C5F0;
@gray : #f8f8f8;
.home-image{
    background: @gray;
    background-image: url('../img/home.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 500px;
    
    img.logo-image{
        width: 50%;
    }
    span{
        color: white;
    }
}
.bg-blue{
    background: @blue;
}
.bg-red{
    background: @red;
}
.bg-gray{
    background: @gray;
}
.home-tagline{
    padding: 20px;
    p{
        text-align:center;
        margin-bottom: 5px;
        color: white;
        font-size: 20px;
    }
}
.deploy-process{
    h3.text-center{
        /*font-weight: 400;*/  
    }
    .block{
        
    }
}






















