.home-image {
  background: #f8f8f8;
  background-image: url('../img/home.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 500px;
}
.home-image img.logo-image {
  width: 50%;
}
.home-image span {
  color: white;
}
.bg-blue {
  background: #63c5f0;
}
.bg-red {
  background: #ef3d37;
}
.bg-gray {
  background: #f8f8f8;
}
.home-tagline {
  padding: 20px;
}
.home-tagline p {
  text-align: center;
  margin-bottom: 5px;
  color: white;
  font-size: 20px;
}
.deploy-process h3.text-center {
  /*font-weight: 400;*/
}
.deploy-process .block .title {
  text-align: center;
}
