
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
    background-color: #fff;
}
.btn{
    background-image: none;
}