@import url('common.less');

/* ==========================================================================
    www.gitftp.com
    Git deploy automation software
   ========================================================================== */

body {
  font-family: 'Roboto', sans-serif;
  background-color: @bg;
  color: #555;
  overflow-y: scroll;
  box-shadow: inset 0px 2px @base;
}

a {
  &:hover {
    text-decoration: none !important;
    cursor: pointer;
  }
}

.jconfirm {

  &.git {
    .jconfirm-bg {
      background-color: rgba(0, 0, 0, .1) !important;
    }
    .jconfirm-box {
      .shadow-x4;

      div.title {
        font-weight: normal;
        font-size: 22px;
        font-weight: 500;
        //        text-transform: uppercase;
      }
      div.content {

      }
      .buttons {
        button {
        }
        button.btn-default {
          &:hover {

          }
        }
      }

    }

  }
}

.navbar-default {
  border-bottom: solid 2px @bg !important;
  background: @base;
  .shadow;

  .navbar-nav {
    a {
      font-weight: 500;
    }
    > li > a {
      transition: all .2s @easing;
      color: white !important;
      font-size: 14px;
      text-transform: uppercase;
    }
    li.active a {
      background-image: none !important;
      background-color: @base !important;
      box-shadow: 0 2px @blue_dark;
    }
    .dropdown-menu {
      border: none;
      background: white;
    }
    .dropdown.open > a {
      background-color: white !important;
      color: @base !important;
    }
    .dropdown.open a:hover {
    }
    .dropdown.open .divider {
      background-color: @bg;
    }
    .dropdown {
      .dropdown-menu {
//        top: 80%;
        display: block !important;
        visibility: hidden;
        opacity: 0;
        transition: all .2s @easing;
        z-index: -1;
        transform: rotateX(90deg);
        transform-origin: top;
      }
      &.open {
        .dropdown-menu {
          top: 100%;
          visibility: visible;
          opacity: 1;
          transform: rotateX(0);
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.page-head {
  //  background: rgb(202, 202, 202);
  padding: 20px 0 12px;
  .head {
    font-size: 24px;
    font-weight: bold;
  }
  .subhead {
    font-size: 14px;
    margin-top: 5px;
  }
  .subhead:empty {
    display: none;
  }
}

.head-body-divider {
  .space10;
}

.viewdeploy, .ftp-servers-list {
  margin-bottom: 30px;

  &.delete {
    opacity: 0.3;
  }
  .project-list-block {
    background-color: #fff;
    padding: 10px 15px 10px;
    border-radius: 4px;
    transition: box-shadow .2s;
    .shadow;

    .header {

      > span {
        vertical-align: middle;
        display: inline-block;
      }
      span.head {
        font-size: 24px;
        padding-top: 0px;
        max-width: 85%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
      }
    }

    &:hover {
      .shadow-x2;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.bb-loading:empty {
  height: 300px;
  /*    background-image: url('../img/blank.gif');
      background-position: center;
      background-repeat: no-repeat;*/
}

.bb-loading {
  position: relative;
}

._loading {
  height: 60px;
  width: 60px;
  background: transparent;
  content: '';
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -30px;
  border-radius: 50%;
  border: solid #aaa;
  border-width: 3px 0px 0px 0px;
  animation: spin .5s infinite linear;
  border: solid 2px rgba(0, 0, 0, 0);
  border-top-color: @loadingg;
  border-bottom-color: transparent;
}

.bb-loading:empty:before {
  ._loading;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    //    border-top-color: @loading;
    //    border-bottom-color: @loadingg
  }
  to {
    transform: rotate(359deg);
    //    border-top-color: @loadingg;
    //    border-bottom-color: @loading
  }
}

.project-v-status {
  padding: 8px 9px 8px;
  margin-top: -60px;
  border-radius: 0 0 4px 4px;
  text-transform: uppercase;
  font-size: 13px;
  color: #444;
  font-weight: bold;
  transition: all .4s;
  min-width: 100px;
  text-align: center;
  background-color: @base;
}

.project-co-loading {
  background-color: @base;
  margin-top: -19px;
  color: white;
  text-align: right;
  .shadow-x2;
}

.well-cs {
  background: #fff;
  border-color: #ddd;
  box-shadow: none;
}

.well-statusbar {
  background: transparent;
  border-color: #ddd;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #ddd;
  padding-left: 0;
  padding-right: 0;
}

.fa-spin {
  animation-duration: .5s !important;
}

.dash-nav {
  /*top: 2px;*/
  //  overflow: hidden;
}

.dash-nav .drop {
  animation: drop .7s ease-in;
}

.bb-wrapper > div > * {
  animation: pagedrop .2s @easing;
}

.project-activity-anim > *, .side-anim > * {
  animation: pageleft .4s @easing;
}

.fadeIn > * {
  animation: fadeIn .2s @easing;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pagedrop {
  from {
    opacity: 0;
    transform: translate(0px, -10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes pageleft {
  from {
    opacity: 0;
    transform: translate(-10px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes drop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dash-block {
  padding: 5px;
  background: white;
  border-radius: 4px;
}

.project-branches-env {
  .project-branch {
    margin-bottom: 15px;
    border-radius: 4px;
    background: white;
    .shadow;
    position: relative;
    cursor: pointer;

    .deploy-button {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 32px;
      background-color: @bg;
      height: 60px;
      width: 60px;
      text-align: center;
      line-height: 60px;
      border-radius: 50px;

      &:hover {
        background-color: #e0e0e0;
      }
    }

    .buttons {
      width: 100%;
      background: none;
      display: table;
      border-top: solid 1px @bg;

      a {
        width: 60%;
        border-right: solid 1px @bg;
      }
      button.deploy {
        width: 100%;
        border: none;
      }
      button.deploy, a {
        box-shadow: none;
        text-align: center;
        transition: all .2s;
        font-size: 16px;
        padding: 10px 20px;
        display: table-cell;
        background: none;

        &:hover {
          background: darken(@bg, 1%);
        }
      }

    }

    .branch-name-container {
      font-size: 18px;
      > * {
        vertical-align: middle;
      }
    }
    .branch-name {
      font-weight: normal;
      text-overflow: ellipsis;
      word-wrap: normal;
      overflow: hidden;
      display: inline-block;
      width: 68%;
      white-space: nowrap;
    }
    .block {
      padding: 15px;
      display: block;
    }
    .onrevision {
      color: #999;
    }
    .revision {
      font-size: 12px;
      font-family: consolas
    }
    .date {
      color: #7f7f7f;
      font-size: 12px;
    }
  }
}

.project-record-list-wrapper {

  .project-record-list {
    background: white;
    padding: 10px 15px;
    /* border: solid 1px #ddd !important; */
    border-radius: 4px;
    margin-bottom: 10px;
    .shadow;

    &:hover {
    }

    //  .link-data{
    //    opacity: 0;
    //    transition: all .1s;
    //  }
    //  &:hover .link-data{
    //    opacity: 1;
    //  }
    .status {
      font-size: 14px;
      color: #aaa;

      &.status-1 {
        color: @green;
      }
      &.status-0 {
        color: @redalt;
      }
      &.status-2 {
        color: @orange;
      }
      &.status-3 {
        color: #aaa;
      }
    }
    .deploystate-icon {
      font-size: 2em;
      margin-top: 16px;
    }
  }

  .activity-data-records-view-more {
    background: transparent;
    border: none !important;
    box-shadow: none !important;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover, &:focus {
      box-shadow: none !important;
      outline: none;
    }
  }
}

.project-settings-info {
  table {
    width: 100%;

    tr {
      font-weight: bold;

      td:first-child {
        text-align: right;
        width: 20% !important;
      }
    }
  }
}

.branch-single-view {
  table {
    width: 100%;
    tr {
      td:first-child {
        width: 30%;
        font-weight: bold;
      }
      td:last-child {

      }
    }
  }

  .form-group {
    margin-bottom: 5px;
    .control-label {
      text-align: left;
    }
  }

  .edit-ftp {
    opacity: 0;
    transition: all .1s;
    transform: translate(0px, 10px);
  }

  &:hover {
    .edit-ftp {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
}

// freshdeploy block;
.freshdeploy {
  padding: 0 20px 10px;
  .title {
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
  }
}

// siderbar
.projectview-siderbar {
  .shadow;
  border-radius: 4px;

  a {
    border: none;
    padding: 10px 20px;
  }
  a + a {
    border-top: solid 1px #eee;
  }
  a:hover {
    background: white;
  }
  .active-cs {
    color: @base !important;
  }
  a:focus {
    background: white;
  }
}

// astricks
.ast {
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

// noty
#noty_bottomRight_layout_container, #noty_bottomLeft_layout_container, #noty_topRight_layout_container {
  .shadow-x3;
  border-radius: 4px;
  overflow: hidden;

  li {
    background: white;
    & + li {
      border-top: solid 1px @bg;
    }
    .noty_message {
      padding: 13px 10px;
    }
  }
  .noty_text {
    i.fa {
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

.jconfirm-deploy-options {
  div.deploytitle {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .row {
    div {
      a {
        background-color: @bg;
        display: block;
        border-radius: 4px;
        text-align: center;
        padding: 15px;
        text-transform: uppercase;
        line-height: 15px;
        color: @base;
        font-weight: 500;

        &:hover {
          background-color: @base;
          color: white;
        }
        i {
          font-size: 40px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.panel {
  position: relative;

  &:before, &:after {
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
  &:after {
    z-index: 1000;
    ._loading;
  }
  &.panel-disabled {
    &:before {
      visibility: visible;
      opacity: 1;
    }
  }
  &.panel-loading {
    &:before, &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}

.add-deploy-container {
  .step-title {
    font-weight: 500;
    margin-top: 0px;
  }
  .env-table {
    width: 100%;
  }
  .env-div {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    background-color: lighten(@bg, 2%);
    padding: 10px;
    position: relative;

    + .env-div {
      border-top: none;
    }

    .form-group {
      margin-bottom: 5px;
    }

    .project-add-remove-env {
      position: absolute;
      left: 0;
      bottom: 0;
      visibility: hidden;
      opacity: 0;
      transition: all .1s ease-in;
    }

    &:hover {
      .project-add-remove-env {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.bootstrap-select {
  .btn {
    background: transparent;
    font-weight: normal;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: solid 2px @border_color;
    padding-left: 0px;
    padding-right: 0px;
    text-transform: none;

    &:focus, &:hover {
      background: transparent;
    }
    &:focus, &:active {
      border-bottom-color: @blue;
    }
    &[disabled], &[readonly] {
      border-bottom: dotted 2px @border_color;
    }
    &.error {
      border-bottom-color: @red;
    }
  }
}

.numbers {
  padding: 10px 20px;
  background: @bg;
  table {
    width: 100%;
    tr {
      td:first-child {
        font-weight: 500;
        font-size: 20px;
        text-align: right;
        padding-right: 20px;
        width: 40%;
        vertical-align: middle;
      }
    }
  }
}

.bottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  .shadow;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        display: inline-block;
        color: #555;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 500;
        &:hover {
          background: @bg;
        }
      }
      span {
        display: inline-block;
        color: #555;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}
