
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
    background-color: #fff;
    color: #555;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

.btn{
    background-image: none;
    
    &.btn-default{
        background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
        border-color: #E8E8E8;
        
        &:hover{
            background-image: none;
            background-color: #eee;
            border-color: #ddd;
        }
    }
}

.bb-loading:empty{
    height: 300px;
    background-image: url('../img/blank.gif');
    background-position: center;
    background-repeat: no-repeat;
}
