/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  color: #555;
  overflow-y: scroll;
  box-shadow: inset 0px 2px #EF3D3D;
}
a:hover {
  text-decoration: none;
}
.jconfirm.git .jconfirm-bg {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.jconfirm.git .jconfirm-box div.title {
  font-weight: normal;
  font-size: 22px;
}
.navbar-nav li.active a {
  background-image: none !important;
  background-color: #f8f8f8 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.btn {
  background-image: none;
}
.btn.btn-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  border-color: #E8E8E8;
}
.btn.btn-default.btn-gitftp {
  color: #EF3D3D;
}
.btn.btn-default:hover {
  background-image: none;
  background-color: #eee;
  border-color: #ddd;
}
.viewdeploy.deleted {
  opacity: 0.3;
}
.bb-loading:empty {
  height: 300px
  /*    background-image: url('../img/blank.gif');
        background-position: center;
        background-repeat: no-repeat;*/
}
.bb-loading {
  position: relative;
}
.bb-loading:empty:before {
  height: 60px;
  width: 60px;
  background: transparent;
  content: '';
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -30px;
  border-radius: 50%;
  border: solid #aaa;
  border-width: 3px 0px 0px 0px;
  -webkit-animation: spin .5s infinite linear;
          animation: spin .5s infinite linear;
  border: solid 2px rgba(0, 0, 0, 0);
  border-top-color: #01b5e9;
  border-bottom-color: #4cd964;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-color: #01b5e9;
    border-bottom-color: #4cd964;
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    border-top-color: #4cd964;
    border-bottom-color: #01b5e9;
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-color: #01b5e9;
    border-bottom-color: #4cd964;
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    border-top-color: #4cd964;
    border-bottom-color: #01b5e9;
  }
}
.project-v-status {
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #676767;
  color: rgba(255, 255, 255, 0.9);
  border: solid 1px #FAFAFA;
  font-weight: 800;
}
.project-co-Idle {
  background-color: white;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  border-color: white;
  color: #999;
}
.well-cs {
  background: #fff;
  border-color: #ddd;
  box-shadow: none;
}
.active-cs {
  background: #f8f8f8;
  color: #ef3d37 !important;
}
.fa-spin {
  -webkit-animation-duration: .5s !important;
          animation-duration: .5s !important;
}
