@import url('common.less');

/* ==========================================================================
    www.gitftp.com
    Git deploy automation software
   ========================================================================== */

body {
  font-family: 'Roboto', sans-serif;
  background-color: @bg;
  color: #555;
  overflow-y: scroll;
  box-shadow: inset 0px 2px @base;
}

a {
  &:hover {
    text-decoration: none !important;
    cursor: pointer;
  }
}

.jconfirm {
  &.git {
    .jconfirm-bg {
      background-color: rgba(0, 0, 0, .1) !important;
    }
    .jconfirm-box {
      .shadow-x4;

      div.title {
        font-weight: normal;
        font-size: 22px;
        font-weight: 500;
        //        text-transform: uppercase;
      }
      div.content {

      }
      .buttons {
        button {
        }
        button.btn-default {
          &:hover {

          }
        }
      }
    }
  }
}

.navbar-default {
  border-bottom: solid 2px white !important;
  background: @base;
  .shadow-x3;
  z-index: 999999999;


  .navbar-nav {

    a {
      font-weight: 500;
    }
    > li > a {
      transition: all .2s @easing;
      color: white !important;
      font-size: 14px;
      text-transform: uppercase;
    }
    li.active > a {
      background-image: none !important;
      background-color: @base !important;
      box-shadow: 0 2px @blue_dark;
    }
    .dropdown-menu {
      border: none;
      background: white;
      z-index: -1;
    }
    .dropdown.open > a {
      background-color: white !important;
      color: @base !important;
    }
    .dropdown.open a:hover {
    }
    .dropdown.open .divider {
      background-color: @bg;
    }
    .dropdown {
      .dropdown-menu {
        //        top: 80%;
        display: block !important;
        visibility: hidden;
        opacity: 0;
        transition: all .2s @easing;
        //        z-index: -1;
        transform: rotateX(90deg);
        transform-origin: top;
      }
      &.open {
        .dropdown-menu {
          top: 100%;
          visibility: visible;
          opacity: 1;
          transform: rotateX(0);
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.page-head {
  //  background: rgb(202, 202, 202);
  padding: 20px 0 12px;
  .head {
    font-size: 24px;
    font-weight: bold;
  }
  .subhead {
    font-size: 14px;
    margin-top: 5px;
  }
  .subhead:empty {
    display: none;
  }
}

.head-body-divider {
  .space10;
}

.viewdeploy, .ftp-servers-list {
  margin-bottom: 30px;
  position: relative;
  .url {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    color: #aaa;
    display: block;
  }
  .status {
    position: absolute;
    top: -13px;
    right: 13px;
    background: #00C853;
    padding: 2px 8px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    font-size: 12px;
  }
  &.delete {
    opacity: 0.3;
  }
  &.is-deploy-deactive {
    .project-list-block {
      opacity: 0.5;
    }
  }
  .project-list-block {
    background-color: #fff;
    padding: 10px 15px 10px;
    border-radius: 4px;
    transition: box-shadow .2s;
    .shadow;

    .header {

      > span {
        vertical-align: middle;
        display: inline-block;
      }
      span.head {
        font-size: 24px;
        padding-top: 0px;
        max-width: 90%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
      }
    }

    &:hover {
      .shadow-x2;
      opacity: 1;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.bb-loading:empty {
  height: 300px;
  /*    background-image: url('../img/blank.gif');
      background-position: center;
      background-repeat: no-repeat;*/
}

.bb-loading {
  position: relative;
}

._loading {
  height: 60px;
  width: 60px;
  background: transparent;
  content: '';
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -30px;
  border-radius: 50%;
  border: solid #aaa;
  border-width: 3px 0px 0px 0px;
  animation: spin .5s infinite linear;
  border: solid 2px rgba(0, 0, 0, 0);
  border-top-color: @loadingg;
  border-bottom-color: transparent;
}

.bb-loading:empty:before {
  ._loading;
}

.project-v-status {
  padding: 8px 9px 8px;
  margin-top: -60px;
  border-radius: 0 0 4px 4px;
  text-transform: uppercase;
  font-size: 13px;
  color: #444;
  font-weight: bold;
  transition: all .4s;
  min-width: 100px;
  text-align: center;
  background-color: @base;
}

.project-co-loading {
  background-color: @base;
  margin-top: -19px;
  color: white;
  text-align: right;
  .shadow-x2;
}

.well-cs {
  background: #fff;
  border-color: #ddd;
  box-shadow: none;
}

.well-statusbar {
  background: transparent;
  border-color: #ddd;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #ddd;
  padding-left: 0;
  padding-right: 0;
}

.fa-spin {
  animation-duration: .5s !important;
}

.dash-nav {
  /*top: 2px;*/
  //  overflow: hidden;
}

.dash-nav .drop {
  animation: drop .7s ease-in;
}

.bb-wrapper > div > * {
  animation: pagedrop .2s @easing;
}

.project-activity-anim > *, .side-anim > * {
  animation: pageleft .4s @easing;
}

.fadeIn > * {
  animation: fadeIn .2s @easing;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pagedrop {
  from {
    opacity: 0;
    transform: translate(0px, 5px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes pageleft {
  from {
    opacity: 0;
    transform: translate(-5px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes drop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dash-block {
  padding: 5px;
  background: white;
  border-radius: 4px;
}

.project-branches-env {
  .project-branch {
    margin-bottom: 15px;
    border-radius: 4px;
    background: white;
    .shadow;
    position: relative;
    cursor: pointer;

    .deploy-button {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 32px;
      background-color: @bg;
      height: 60px;
      width: 60px;
      text-align: center;
      line-height: 60px;
      border-radius: 50px;

      &:hover {
        background-color: #e0e0e0;
      }
    }

    .buttons {
      width: 100%;
      background: none;
      display: table;
      border-top: solid 1px @bg;

      a {
        width: 60%;
        border-right: solid 1px @bg;
      }
      button.deploy {
        width: 100%;
        border: none;
      }
      button.deploy, a {
        box-shadow: none;
        text-align: center;
        transition: all .2s;
        font-size: 16px;
        padding: 10px 20px;
        display: table-cell;
        background: none;

        &:hover {
          background: darken(@bg, 1%);
        }
      }

    }

    .branch-name-container {
      font-size: 18px;
      > * {
        vertical-align: middle;
      }
    }
    .branch-name {
      font-weight: normal;
      text-overflow: ellipsis;
      word-wrap: normal;
      overflow: hidden;
      display: inline-block;
      width: 68%;
      white-space: nowrap;
    }
    .block {
      padding: 15px;
      display: block;
    }
    .onrevision {
      color: #999;
    }
    .revision {
      font-size: 12px;
      font-family: consolas
    }
    .date {
      color: #7f7f7f;
      font-size: 12px;
    }
  }
}

.project-record-list-wrapper {

  .project-record-list {
    background: white;
    padding: 10px 15px;
    /* border: solid 1px #ddd !important; */
    border-radius: 4px;
    margin-bottom: 10px;
    .shadow;

    &:hover {
    }

    //  .link-data{
    //    opacity: 0;
    //    transition: all .1s;
    //  }
    //  &:hover .link-data{
    //    opacity: 1;
    //  }
    .status {
      font-size: 14px;
      color: #aaa;

      &.status-1 {
        color: @green;
      }
      &.status-0 {
        color: @redalt;
      }
      &.status-2 {
        color: @orange;
      }
      &.status-3 {
        color: #aaa;
      }
    }
    .deploystate-icon {
      font-size: 2em;
      margin-top: 16px;
    }
    .av{
      width: 20px;
      height: 20px;
    }
  }

  .activity-data-records-view-more {
    background: transparent;
    border: none !important;
    box-shadow: none !important;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover, &:focus {
      box-shadow: none !important;
      outline: none;
    }
  }
}

.project-settings-info {
  table {
    width: 100%;

    tr {
      font-weight: bold;

      td:first-child {
        text-align: right;
        width: 20% !important;
      }
    }
  }
}

.branch-single-view {
  table {
    width: 100%;
    tr {
      td:first-child {
        width: 30%;
        font-weight: bold;
      }
      td:last-child {

      }
    }
  }

  .form-group {
    margin-bottom: 5px;
    .control-label {
      text-align: left;
    }
  }

  .edit-ftp {
    opacity: 0;
    transition: all .1s;
    transform: translate(0px, 10px);
  }

  &:hover {
    .edit-ftp {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
}

// freshdeploy block;
.freshdeploy {
  padding: 0 20px 10px;
  .title {
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
  }
}

// siderbar
.projectview-siderbar {
  .shadow;
  border-radius: 4px;

  a {
    border: none;
    padding: 10px 20px;
  }
  a + a {
    border-top: solid 1px #eee;
  }
  a:hover {
    background: white;
  }
  .active-cs {
    color: @base !important;
  }
  a:focus {
    background: white;
  }
}

// astricks
.ast {
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

// noty
#noty_bottomRight_layout_container, #noty_bottomLeft_layout_container, #noty_topRight_layout_container {
  .shadow-x3;
  border-radius: 4px;
  overflow: hidden;
  bottom: 40px !important;

  li {
    background: white;
    & + li {
      border-top: solid 1px @bg;
    }
    .noty_message {
      padding: 13px 10px;
    }
  }
  .noty_text {
    i.fa {
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

.jconfirm-deploy-options {
  div.deploytitle {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .row {
    div {
      a {
        background-color: @bg;
        display: block;
        border-radius: 4px;
        text-align: center;
        padding: 15px;
        text-transform: uppercase;
        line-height: 15px;
        color: @base;
        font-weight: 500;

        &:hover {
          background-color: @base;
          color: white;
        }
        i {
          font-size: 40px;
          margin-bottom: 10px;
        }
        &.focus {
          background-color: @bg;
          color: black;
          opacity: .4;
        }
      }
    }
  }
}

.panel {
  position: relative;

  &:before, &:after {
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.92);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    border-radius: 4px;
  }
  &:after {
    z-index: 1000;
    ._loading;
  }
  &.panel-disabled {
    &:before {
      visibility: visible;
      opacity: 1;
    }
  }
  &.panel-loading {
    &:before, &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}

.add-deploy-container {
  .step-title {
    font-weight: 500;
    margin-top: 0px;
  }
  .env-table {
    width: 100%;
  }
  .env-div {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    background-color: lighten(@bg, 2%);
    padding: 10px;
    position: relative;

    + .env-div {
      border-top: none;
    }

    .form-group {
      margin-bottom: 5px;
    }

    .project-add-remove-env {
      position: absolute;
      right: -35px;
      width: 35px;
      top: -1px;
      background: lighten(@bg, 2%);
      border-radius: 0 4px 4px 0;
      padding: 7px;
      visibility: hidden;
      opacity: 0;
      transition: all .1s ease-in;
      border: solid 1px #ddd;
      border-left: none;
    }

    &:hover {
      .project-add-remove-env {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.bootstrap-select {
  .btn {
    background: transparent;
    font-weight: normal;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: solid 2px @border_color;
    padding-left: 0px;
    padding-right: 0px;
    text-transform: none;

    &:focus, &:hover {
      background: transparent;
    }
    &:focus, &:active {
      border-bottom-color: @blue;
    }
    &[disabled], &[readonly] {
      border-bottom: dotted 2px @border_color;
    }
    &.error {
      border-bottom-color: @red;
    }
  }
}

.panel-stats {
  .numbers {
    padding: 10px 20px;
    background: @bg;
    table {
      width: 100%;
      tr {
        td:first-child {
          font-weight: 500;
          font-size: 20px;
          text-align: right;
          padding-right: 20px;
          width: 40%;
          vertical-align: middle;
        }
      }
    }
  }
}

.bottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  .shadow;
  z-index: 1000;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        display: inline-block;
        color: #555;
        padding: 6px 10px 4px;
        text-transform: uppercase;
        font-weight: 500;
        &:hover {
          background: @bg;
        }
      }
      span {
        display: inline-block;
        color: #555;
        padding: 6px 10px 4px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}

.jconfirm.supervan2 > .jconfirm-bg {
  background-color: fade(@bg, 95%);
}

.jconfirm.supervan2 > .jconfirm-scrollpane > .container > .row > .jconfirm-box-container > .jconfirm-box {
  background-color: transparent
}

.jconfirm.supervan2 > .jconfirm-scrollpane > .container > .row > .jconfirm-box-container > .jconfirm-box > div.title {
  text-align: center;
  font-size: 22px;
  font-weight: normal
}

.jconfirm.supervan2 > .jconfirm-scrollpane > .container > .row > .jconfirm-box-container > .jconfirm-box > .buttons {
  text-align: center
}

.jconfirm.supervan2 > .jconfirm-scrollpane > .container > .row > .jconfirm-box-container > .jconfirm-box > .buttons > button {
  font-size: 16px;
  border-radius: 2px;
  background: #303f53;
  text-shadow: none;
  border: 0;
  color: white;
  width: 25%;
  padding: 10px
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container:focus {
  outline: none;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single:focus {
  outline: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  /* padding-left:8px; */
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  /* border: 1px solid #aaa; */
  .shadow-x4;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 7px 10px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.select2-container--default .select2-selection--single {
  background-color: #FFFFFF;
  border-bottom: 2px solid @border_color;
  /* border-radius:4px; */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 31px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  //  background-color: #eee;
  cursor: default;
  border-bottom-style: dotted;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--focus .select2-selection--single {
  border-bottom-color: @base;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  /* border: 1px solid #aaa; */
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #0091EA;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f6f6f6;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
}

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

.services-table {
  td {
    line-height: 22px !important;
  }
}

.table-material {
  &.table > thead > tr > th, &.table > tbody > tr > th, &.table > tfoot > tr > th, &.table > thead > tr > td, &.table > tbody > tr > td, &.table > tfoot > tr > td {
    padding: 10px 20px;
  }
}

.icon {
  vertical-align: middle;
  height: 20px;
  width: 20px;
  background-size: 20px;
  display: inline-block;

  &.icon-github {
    background-image: url('../img/github.svg');
  }
  &.icon-bitbucket {
    background-image: url('../img/bitbucket.svg');
  }
}

.line {
  height: 1px;
  background: darken(@bg, 10%);
  width: 100%;
}

.posthook {
  color: #aaa;
  label {
    margin: 0px;
  }
  p {
    margin-top: 10px;
    a {
      font-style: italic;
    }
  }
}

.panel-user-details {
  .top {
    padding: 20px 20px 20px;
    text-align: left;
    background-color: #eee;
    background-image: url('../img/generic/bg-image.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255,255,255,.6);
      z-index: 0;
    }
    > * {
      display: inline-block;
      vertical-align: middle;
      z-index: 1;
      position: relative;
    }

    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 10px;

      white-space: nowrap;
      width: 77%;
      text-overflow: ellipsis;
      overflow: hidden;
      text-transform: capitalize;
    }
    img {
      border-radius: 50px;
      height: 40px;
      width: 40px;
    }
  }
}

.addnew {
  text-align: center;
  a {
    width: 40%;
    padding: 20px;
  }
  span {
    padding: 0 8px;
  }
}

.table-middle {
  td {
    vertical-align: middle !important;
  }
}
.env-add-revs{
  border-left: solid 1px #DCDCDC;
  padding-left: 20px;
  min-height: 244px;
  padding-bottom: 20px;
  .checkbox{
    text-align:center;
  }
  span{
    text-align: center;
    display: block;
  }
  .tip{
    color: @gray;
  }
}
