<div class="lc">
  <div class="l">
    <img src="assets/logo.png"
         class="logo"
         alt="">
    <!--    <mat-card>-->
    <!--      <mat-card-content>-->

    <h1 class="head-t">Welcome to Gitftp</h1>

    <p>
      no .env file is present, setup will continue.

    </p>
    <!--      </mat-card-content>-->
    <!--    </mat-card>-->
  </div>

  <div class="l"
       *ngIf="page == 'deps'">
    <h2>Dependency Check</h2>
    <p>
      Checking if all the required dependencies are met.
    </p>
    <ul>
      <li *ngIf="deps && deps.git">
        Git: {{deps.git[0]}} {{deps?.git[1]}}
      </li>
      <li *ngIf="deps && deps.php">
        Php: {{deps.php[0]}} {{deps?.php[1]}}
      </li>
      <li *ngIf="deps && deps.php">
        OS: {{deps.os}}
      </li>
      <li *ngIf="deps && deps.status">
        All OK 👍
      </li>
    </ul>

    <button *ngIf="deps && deps.status"
            (click)="page = 'db'"
            type="button"
            color="primary"
            mat-flat-button>
      Continue
    </button>
  </div>

  <div class="l"
       *ngIf="deps && deps.status && page == 'db'">
    <h2>Setup MySQL database</h2>
    <p>
      Please enter the credentials for database where you want Gitftp schema to be installed.
    </p>
    <div style="height: 10px"></div>

    <form [formGroup]="dbForm"
          style="width: 500px;"
          (submit)="testDbConnection()">
      <mat-form-field appearance="outline"
                      class="mr2">
        <mat-label>Host</mat-label>
        <input matInput
               formControlName="host">
      </mat-form-field>
      <mat-form-field appearance="outline"
                      class="mr2">
        <mat-label>Database name</mat-label>
        <input matInput
               formControlName="database">
      </mat-form-field>
      <mat-form-field appearance="outline"
                      class="mr2">
        <mat-label>Username</mat-label>
        <input matInput
               formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline"
                      class="mr2">
        <mat-label>Password</mat-label>
        <input matInput
               formControlName="password">
      </mat-form-field>
      <mat-form-field appearance="outline"
                      class="mr2">
        <mat-label>Port</mat-label>
        <input matInput
               formControlName="port">
      </mat-form-field>
      <mat-form-field appearance="outline"
                      class="mr2">
        <mat-label>Unix socket</mat-label>
        <input matInput
               formControlName="socket">
      </mat-form-field>
      <div>
        <p *ngIf="dbMsg"
           style="color: forestgreen;
                  margin-top: 0;
                  margin-bottom: 21px;">
          {{dbMsg}}
        </p>
        <button type="submit"
                color="primary"
                [disabled]="testingDbConnection"
                mat-flat-button>
          Test<span *ngIf="testingDbConnection">ing</span> connection
        </button>
      </div>
    </form>
  </div>


  <div class="l"
       *ngIf="deps && deps.status && page == 'user'">
    <form [formGroup]="userForm"
          style="width: 500px;"
          (submit)="setupSubmit()">
      <h2>Create admin user</h2>
      <p>
        Please enter new credentials to log into Gitftp
      </p>

      <mat-form-field appearance="outline"
                      style="width: 300px"
                      class="mr2">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline"
                      class="mr2">
        <mat-label>Password</mat-label>
        <input matInput
               formControlName="password">
      </mat-form-field>
      <mat-form-field appearance="outline"
                      class="mr2">
        <mat-label>Confirm password</mat-label>
        <input matInput
               formControlName="confirm_password">
      </mat-form-field>
      <h2>Site</h2>
      <mat-form-field appearance="outline"
                      style="width: 350px"
                      class="mr2">
        <mat-label>Public domain</mat-label>
        <input matInput
               formControlName="public_domain">
      </mat-form-field>

      <div>
        <p *ngIf="setupProgress"
           style="color: black;
                  margin-top: 0;
                  margin-bottom: 21px;">
          {{setupProgress}}...
        </p>
        <button type="submit"
                color="primary"
                [disabled]="setupLoading || userForm.invalid"
                mat-flat-button>
          Start setup
        </button>
      </div>
    </form>
  </div>

</div>
