<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" ng-if="projects.length">
                <div class="bg-white md-whiteframe-z0 m-b-lg m-t-30 p-t-10 p-b-10">
                    <ul class="nav scroll-y" ui-nav="">
                        <li class="" ng-repeat="p in projects">
                            <a href="view/{{p.id}}/{{p.name}}">
                                {{p.name}} <br>
                                <small><span class="text-muted">{{p.uri}}</span></small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-md-4 col-md-offset-4" ng-if="!projects.length">
                <div class="text-center" style="margin-top: 40%">
                    <h3 class="m-b-20">Its lonely in here</h3>
                    <a href="project/new" class="text-sm btn btn-lg btn-rounded btn-info">
                        <i class="fa fa-apple fa-3x pull-left"></i>
                        <span class="block clear text-left m-v-xs">
                            <b class="text-md block font-bold">Create project</b>
                      </span>
                    </a>

                    <div class="m-t-20">
                        <p class="text-muted"><span>OR</span></p>
                        <p>
                            <a href="settings/oauth-applications"><u>Create oAuth application</u> for other git
                                providers</a>
                        </p>
                        <p class="text-muted"><span>AND</span></p>
                        <p>
                            <a href="settings/connected-accounts"><u>Login to Github or Bitbucket</u> to connect more
                                projects</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>