<div class="page bootstrap-wrapper">
  <form [formGroup]="form">

    <div class="header"
         style="margin-bottom: 0">
      <h2>
        Deploy to
        <mat-form-field class="field-nude"
                        style="width: 500px;margin-left: -7px;">
          <mat-select formControlName="server_id"
                      placeholder="[select]">
            <mat-option *ngFor="let s of servers; let indx = index"
                        [value]="s.server_id"
            >
              {{s.server_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </h2>
      <div style="display: block;
    margin-top: -30px;">
        from
        <ng-icon style="
    font-size: 21px;
    vertical-align: middle;"
                 name="ionGitBranch"></ng-icon>
        {{getSelectedBranch()?.branch}}
      </div>
      <div class="btns">

      </div>
    </div>
  </form>

  <form [formGroup]="form">
    <div style="margin-top: 10px">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3>
              <span>Deployment type</span>
            </h3>

          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <mat-chip-listbox aria-label="Fish selection" formControlName="type">
              <mat-chip-option value="deploy">Deploy</mat-chip-option>
              <mat-chip-option value="fresh">Fresh upload</mat-chip-option>
            </mat-chip-listbox>

          </div>
          <div class="row" *ngIf="form.get('type')?.value == 'fresh'">
            <div class="col-3">
asdsdsads
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div style="height: 200px;"></div>
{{form.value|json }}
