<div class="page">

  <mat-spinner style="margin-top: 30px"
               diameter="50"
               *ngIf="loading && !project"></mat-spinner>

  <div *ngIf="project">
    <div class="header"
         style="margin-bottom: 0">
      <mat-icon>code</mat-icon>
      <h2>
        {{project.name}}</h2>
      <div class="btns btns-right">
        <!--        <button mat-stroked-button-->
        <!--                color="primary"-->
        <!--                routerLink="/git-accounts/create">Create-->
        <!--        </button>-->
        <span>

        <span>
          <mat-chip disableRipple>
            <mat-icon class="vm m-r-5">info</mat-icon>

            <span class="vm">Project is not cloned</span>
          </mat-chip>
        </span>
        </span>
      </div>
    </div>
    <p class="subheader">
      {{project.path}}
    </p>
  </div>
</div>

<router-outlet (activate)="pageChanged($event)"></router-outlet>
