<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div settings-sidebar></div>
        </div>
        <div class="col-md-8">
            <div class="">
                <div class="md-whiteframe-z0 bg-white p-35">
                    <h3 class="no-margin-top">
                        Connected accounts
                    </h3>
                    <p class="no-margin-bottom">
                        Your connected accounts with gitftp
                    </p>

                    <div ng-if="loading" class="m-t-30">
                        <div class="loader " style="width: 60px">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3"
                                        stroke-miterlimit="10"/>
                            </svg>
                        </div>
                    </div>
                    <div ng-if="!loading">
                        <div>
                            <a ng-click="connect('github')"
                               class="text-sm btn btn-lg btn-rounded btn-info m-r m-t-20"
                               ng-disabled="availableApps.github.connected || !availableApps.github.available">
                                <span class="block clear text-left m-v-xs" ng-if="availableApps.github.available">
                                    Connect{{availableApps.github.connected ? 'ed': ''}} with
                                    <b class="text-md block font-bold">Github</b>
                                </span>
                                <span class="block clear text-left m-v-xs" ng-if="!availableApps.github.available">
                                    OAuth application not set
                                    <b class="text-md block font-bold">Github</b>
                                </span>
                            </a>

                            <a ng-click="connect('bitbucket')"
                               class="text-sm btn btn-lg btn-rounded btn-info m-t-20"
                               ng-disabled="availableApps.bitbucket.connected || !availableApps.bitbucket.available">
                                <span class="block clear text-left m-v-xs" ng-if="availableApps.bitbucket.available">
                                    Connect{{availableApps.bitbucket.connected ? 'ed': ''}} with
                                    <b class="text-md block font-bold">Bitbucket</b>
                                </span>
                                <span class="block clear text-left m-v-xs" ng-if="!availableApps.bitbucket.available">
                                    OAuth application not set
                                    <b class="text-md block font-bold">Bitbucket</b>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-card m-t-20">
                    <table class="table" ng-if="connected.length">
                        <tr>
                            <th>
                                Provider / Username
                            </th>
                            <th>
                                Created /
                                Updated
                            </th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="co in connected">
                            <td>
                                <strong>{{co.provider}}</strong> <br>
                                connected as @{{co.username}}
                            </td>
                            <td>
                                {{co.created_at | amFromUnix | amDateFormat: 'MMM DD YYYY HH:mm a'}}
                                <span ng-if="co.updated_at != 0"> -
                                {{co.updated_at | amFromUnix | amDateFormat: 'MMM DD YYYY HH:mm a'}}
                                </span>
                                <div class="red" ng-if="!availableApps[co.provider].available">
                                    <i class="zmdi zmdi-alert-triangle"></i> OAuth application not available
                                </div>
                            </td>
                            <td>
                                <a ng-click="disconnect(co.id, co.provider)" uib-tooltip="Disconnect">
                                    <i class="zmdi zmdi-delete"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div class="panel-body" ng-if="!connected.length && !loading">
                        <span>You have no connected accounts.</span>
                    </div>
                    <div class="panel-body" ng-if="loading">
                        <span ng-if="loading">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>