<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div settings-sidebar></div>
        </div>
        <div class="col-md-8">
            <div class="">
                <div class="md-whiteframe-z0 bg-white p-35">
                    <h3 class="no-margin-top p-b-30">
                        Account settings
                    </h3>
                    <form action="">
                        <div class="md-form-group">
                            <input class="md-input" ng-model="user.username" required="" disabled>
                            <label>Username</label>
                        </div>
                        <div class="md-form-group">
                            <input class="md-input" ng-model="user.email" required="">
                            <label>E-mail</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>