<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div settings-sidebar></div>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="">
                <div class="md-whiteframe-z0 bg-white">
                    <div class="p-t-35 p-l-35 p-b-25 p-r-35">
                        <div class="pull-right">
                            <a href="settings/users/add" class="btn btn-rounded btn-stroke btn-primary inline pull-right btn-sm">
                                Add user
                            </a>
                        </div>
                        <h3 class="no-margin-top">
                            Users
                        </h3>
                    </div>

                    <table class="table table-v-m no-m">
                        <tr>
                            <th>

                            </th>
                            <th>
                                User
                            </th>
                            <th>
                                Group
                            </th>
                            <th>
                                Admin rights
                            </th>
                            <th>
                                Created
                            </th>
                            <th>

                            </th>
                        </tr>

                        <tr ng-repeat="user in users">
                            <td style="width: 50px;">
                                <img style="margin-left: 14px; width: 50px; height: 50px;" class="img-rounded" src="{{user.gravatar}}&s=50"></img>
                            </td>
                            <td style="width: 30%">
                                <div class="blue" style="font-size: 16px;">{{user.username}}</div>
                                <div class="text-muted">ID: #{{user.id}}</div>
                            </td>
                            <td>
                                <div class="">
                                    <i ng-if="user.group == 100" class="zmdi zmdi-lock-outline i-20 v-m m-r-5"></i>
                                    <span class="v-m">
                                        {{userGroup[user.group]}}
                                    </span>
                                </div>
                                <div class="text-muted">
                                    {{user.profile_fields.invite_pending == 1 ? 'Invite pending' : ''}}
                                </div>
                            </td>
                            <td>
                                <div ng-if="user.profile_fields.create_projects">Create projects</div>
                                <div ng-if="user.profile_fields.administrator">Administrator</div>
                            </td>
                            <td>
                                <span title="{{user.created_at | amFromUnix | amDateFormat: 'DD MMM\'YY hh:mm a'}}">Created {{user.created_at | amFromUnix | amDateFormat: 'DD MMM'}}</span>
                            </td>
                            <td class="text-right">
                                <div class="dropdown">
                                    <a md-ink-ripple data-toggle="dropdown" class="v-m">
                                        <i class="zmdi zmdi-hc-fw zmdi-settings i-20 v-m"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color"
                                        style="top: -10px; right: -10px;">
                                        <li><a href="settings/users/edit/{{user.id}}">Edit user</a></li>
                                        <li><a class="red" ng-click="remove()" ng-disabled="user.group == 100">Remove</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="loading">
                            <td class="text-center" colspan="6">
                                <div class="loader" style="width: 60px">
                                    <svg class="circular" viewBox="25 25 50 50">
                                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
                                    </svg>
                                </div>
                            </td>
                        </tr>

                    </table>

                    <div class="pull-right">
                        <div class="p-20">
                            <ul class="no-m" uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="load()"></ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
