<!DOCTYPE html>
<html>
<!-- Mirrored from demo.geniuspro.net/material/demo/home-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 Jul 2015 13:34:31 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>

    {{{css}}}

    <!--[if lt IE 9]>
    <script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="loaded">
<!--<div class="loader">-->
    <!--<div class="animated rubberBand spinner"></div>-->
<!--</div>-->
<div class="layout-wrapper page" id="page">
{{{header}}}
{{{body}}}
{{{footer}}}
</div>
{{{js}}}
</body>
<!-- Mirrored from demo.geniuspro.net/material/demo/home-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 Jul 2015 13:34:31 GMT -->
</html>