<div style="height: 15px"></div>
<div class="page">
  <!--  <mat-card>-->
  <!--    <mat-card-content>-->
  <h2 style="">
    Connect your git account
  </h2>
  <p>
    <mat-icon>info</mat-icon> Github uses your create OAuth Apps to login to the application, you can create your app -tell how-
  </p>
  <div class="p-b-10"></div>

  <h3>
    Select your OAuth Application
  </h3>
  <div>
    <p>
      Create an OAuth application in your account, this application will be used to login in Accounts.
    </p>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="mr2">
        <mat-label>Git provider</mat-label>
        <mat-select (selectionChange)="providerChanged()" formControlName="provider_id">
          <mat-option [value]="p.provider_id" *ngFor="let p of providers">{{p.provider_name}}</mat-option>
        </mat-select>
        <!--        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
        <!--        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
      <mat-form-field appearance="outline" class="mr2" *ngIf="this.labels['label1']">
        <mat-label>{{labels?.label1 || 'Client ID'}}</mat-label>
        <input matInput formControlName="client_id">
        <!--        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
        <!--        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="this.labels['label1']">
        <mat-label>{{labels?.label2 || 'Client Secret'}}</mat-label>
        <input matInput formControlName="client_secret">
<!--        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
<!--        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="form.valid">
      <h3>
          Login to {{selectedProvider?.provider_name || '-select your provider-'}}
      </h3>
      <p>
          Login with the account whose repository you want to deploy
      </p>
      <button type="button"
              style="height: 69px;
    padding: 0 84px;
    border-radius: 50px;"
              mat-stroked-button
              (click)="connect()"
              [disabled]="connecting"
              color="primary"
      >Login to {{selectedProvider?.provider_name}}</button>
      <!--    </mat-card-content>-->
      <!--  </mat-card>-->
  </div>
</div>
