<div class="page-head">
    <div class="row">
        <div class="col-md-8">
            <div class="head">Add a new project</div>
            <div class="subhead"></div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <button type="button" class="btn btn-success" id="deploy-save-new">Save</button>
                <a href="/project" class="btn btn-default btn-clean"><i class="fa fa-arrow-left fa-fw"></i> List
                    projects</a>
            </div>
        </div>
    </div>
</div>
<div class="head-body-divider"></div>
<div class="add-deploy-container">
    <div class="row">
        <div class="col-md-4">
            <h4 class="step-title">Step 1 <span class="b gray">- Basic</span>  </h4>

            <div class="panel panel-default panel-step-1">
                <form action="" id="add-deploy-form-step1" autocomplete="off">
                    <div class="panel-body panel-body-material">
                        <div class="form-group">
                            <label for="name">PROJECT NAME</label>
                            <input type="text" name="name" id="name" placeholder="Name your deploy"
                                    class="form-control" title="Please enter name of the project.">
                        </div>
                        <% if(repo.data.length){ %>
                        <div class="form-group service-project">
                            <% console.log(repogrouped) %>
                            <label for="add-repo-service">SELECT REPOSITORY</label>
                            <select class="form-control boot-select" name="repo-service" id="add-repo-service">
                                <% $.each(repogrouped, function(i, a){ %>
                                    <optgroup label="<%= i %>">
                                        <% $.each(a, function(i, b){ %>
                                            <option value="<%= b.id %>"><%= b.name %></option>
                                        <% }) %>
                                    </optgroup>
                                <% }) %>
                            </select>
                        </div>
                        <div class="checkbox gf-checkbox">
                            <input name="isfromservice" type="checkbox"
                                    id="add-repo-from-service"/>
                            <label for="add-repo-from-service">
                                I'll manually add it.
                            </label>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="panel-body panel-body-material gray-bg">
                        <% } %>
                        <div class="manual-project" style="<%= (repo.data.length) ? 'display: none' : '' %>">
                            <div class="form-group">
                                <label for="add-repo">GIT REPOSITORY</label>

                                <input type="text" name="repo" id="add-repo" placeholder="link to repo .git"
                                        class="form-control" value="" title="Please enter a valid repository URL">

                                <p class="help-block"><i class="fa fa-bitbucket"></i> Bitbucket &amp; <i
                                        class="fa fa-github"></i> GitHub are supported.</p>
                            </div>
                            <div class="checkbox gf-checkbox">
                                <input name="isprivate" type="checkbox"
                                        id="deploy-add-privaterepo"/>
                                <label for="deploy-add-privaterepo">
                                    Private repository.
                                </label>
                            </div>
                            <div id="deploy-add-privaterepo-div" style="display:none">
                                <div class="form-group">
                                    <label for="username">USERNAME</label>
                                    <input disabled type="text" name="username" id="username"
                                            placeholder="GIT repo username" class="form-control" title="Please enter Username."
                                            autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="repo-password">PASSWORD <i class="fa fa-lock fa-fw"></i></label>
                                    <input disabled type="password" id="repo-password" name="password" title="Please enter Password."
                                            placeholder="GIT repo password" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                        <!--<label>ACCESS KEY</label>-->
                        <!--<input class="form-control" name="key" placeholder="Random key" required>-->
                        <input type="hidden" class="form-control" name="key" placeholder="Random key">
                        <!--<p class="help-block">Used for Post-hook. <em>(optional)</em></p>-->
                        <!--</div>-->
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">Continue</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <h4 class="step-title">Step 2 <span class="b gray">- Envionrments</span></h4>

            <div class="panel panel-default  panel-step-2 panel-disabled">
                <div class="panel-body panel-body-material">
                    <p style="margin-top: 0px; font-weight:bold">CREATE ENVIRONMENTS</p>

                    <p style="margin-bottom: 0px;">
                        Environments makes it easy to Deploy your code into multiple servers, and maintain your
                        workflow.
                    </p>
                </div>
                <div class="env-table">
                    <br/><br/>

                    <p class="text-center"><i class="fa fa-leaf green fa-3x"></i></p>
                    <br/><br/>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        <button class="btn btn-info btn-circle btn-circle-lg" data-toggle="tooltip" data-placement="left"
                                title="Add environment" readonly type="button" id="project-add-add-env" disabled>
                            <i class="fa fa-plus fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>