<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div project-sidebar page="page"></div>
            </div>
            <div>
                <div class="col-md-9">
                    <div class="panel panel-card">

                        <div class="panel-body p-70" ng-if="loading">
                            <div class="loader" style="width: 60px">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3"
                                            stroke-miterlimit="10"/>
                                </svg>
                            </div>
                        </div>

                        <div class="panel-body" ng-if="!loading">
                            <h3 class="m-b-20 m-t-5">
                                {{server_name ? server_name : 'Add server'}}
                            </h3>
                            <p>
                                The place where your deployment will happen. <br>
                                You can define multiple servers for test, prod etc.
                            </p>

                            <form name="form" ng-submit="newServer()">
                                <hr>
                                <h4>
                                    Environment
                                </h4>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="md-form-group">
                                            <input class="md-input" ng-model="server.name" placeholder="example: Amazon ES2 Prod" required>
                                            <label>Name</label>
                                        </div>
                                        <div class="md-form-group">
                                            <select name="" id="" class="md-input" required ng-model="server.branch">
                                                <option value="{{null}}">{{loadingBranches ? 'Loading..': 'Select a branch'}}</option>
                                                <option value="{{b}}" ng-repeat="b in branches">
                                                    {{b}}
                                                </option>
                                            </select>
                                            <label>
                                                Branch to deploy

                                                <a ng-click="loadBranches()">(Refresh branches)</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="md-check p-b-5">
                                            <input type="checkbox" ng-model="server.auto_deploy">
                                            <i class="bg-success white"></i>
                                            Continuous deployment
                                        </label>
                                        <p class="help-block">
                                            Deploy will be triggered when commits are pushed to repository
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <h4>
                                    Connection
                                </h4>
                                <div class="md-form-group no-p-t p-b-10">
                                    <label>Select your server type</label>
                                    <div>
                                        <div class="radio inline radio-buttons m-r-10">
                                            <label class="ui-checks">
                                                <input type="radio" ng-model="server.type" name="server_type" value="1" ng-change="typeChange()">
                                                <i></i>
                                                FTP
                                            </label>
                                        </div>
                                        <div class="radio inline radio-buttons m-r-10">
                                            <label class="ui-checks">
                                                <input type="radio" ng-model="server.type" name="server_type" value="2" ng-change="typeChange()">
                                                <i></i>
                                                SFTP
                                            </label>
                                        </div>
                                        <div class="radio inline radio-buttons m-r-10">
                                            <label class="ui-checks">
                                                <input type="radio" ng-model="server.type" name="server_type" value="3" ng-change="typeChange()">
                                                <i></i>
                                                LOCAL
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="server.type == 1 || server.type == 2">

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row" ng-if="server.type == 1">
                                                <div class="col-md-12">
                                                    <label class="md-check p-b-15">
                                                        <input type="checkbox" ng-model="server.secure">
                                                        <i class="bg-success white"></i>
                                                        Use FTP over TLS (FTPS) (recommended)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="md-form-group">
                                                        <input class="md-input" ng-model="server.host" required>
                                                        <label>Host</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="md-form-group">
                                                        <input class="md-input" name="port" ng-model="server.port" required>
                                                        <label>Port</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="md-form-group">
                                                        <input class="md-input" ng-model="server.username" required>
                                                        <label>Username</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="md-form-group">
                                                        <div ng-if="!server.edit_password">
                                                            <input class="md-input" ng-model="server.password" disabled placeholder="*****">
                                                            <label>Password</label>
                                                            <a ng-click="server.edit_password = true" class="m-t-5 pull-right">
                                                                <small>Edit password</small>
                                                            </a>
                                                        </div>
                                                        <div ng-if="server.edit_password">
                                                            <input class="md-input" ng-model="server.password" required>
                                                            <label>Password</label>
                                                            <a ng-click="server.edit_password = false" ng-if="server.id" class="m-t-5 pull-right">
                                                                <small>Cancel edit password</small>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="md-form-group">
                                                        <input class="md-input" ng-model="server.path" required>
                                                        <label>Deploy path</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div ng-if="testingErrorMessage">
                                            Exception on connecting
                                            <pre>{{testingErrorMessage}}</pre>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-rounded m-r-10"
                                                ng-disabled="saving || form.$invalid">Save server
                                        </button>

                                        <button type="button" class="btn btn-default btn-rounded"
                                                ng-click="testConnection()"
                                                ng-disabled="testingConnection">{{testingConnection ? 'Connecting' : 'Test connection'}}
                                        </button>
                                        <span class="green m-l-10" ng-if="testingMessage">
                                            {{testingMessage}}
                                        </span>
                                        <div class="space10"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>