<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div project-sidebar page="page"></div>
            </div>
            <div>
                <div class="col-md-9">
                    <div class="panel panel-card">

                        <div class="panel-body p-70" ng-if="loading">
                            <div class="loader" style="width: 60px">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3"
                                            stroke-miterlimit="10"/>
                                </svg>
                            </div>
                        </div>

                        <div class="panel-body" ng-if="!loading">
                            <h3 class=" m-t-5">
                                Deploy to {{server.name}}
                            </h3>
                            <div class="m-b-20">
                                from <img src="assets/img/branch.svg" style="height: 12px" alt=""> {{server.branch}}
                            </div>
                            <form name="form" ng-submit="startDeploy()">
                                <hr>

                                <div class="alert alert-info alert-dismissible" role="alert" ng-if="!server.revision">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    This server is not deployed yet.
                                    Therefore update to latest and revert to revision options are disabled. <br>
                                    Please continue with your first fresh upload
                                </div>
                                <h4>
                                    Deployment type
                                </h4>
                                <div class="md-form-group no-p-t p-b-10">
                                    <div>
                                        <div class="radio inline radio-buttons m-r-10" ng-class="{disabled: !server.revision}">
                                            <label class="ui-checks">
                                                <input type="radio" ng-disabled="!server.revision" ng-model="deploy.type" name="deploy_type" value="2" ng-change="typeChange()">
                                                <i></i>
                                                update to latest
                                            </label>
                                        </div>
                                        <div class="radio inline radio-buttons m-r-10" ng-class="{disabled: !server.revision}">
                                            <label class="ui-checks">
                                                <input type="radio" ng-disabled="!server.revision" ng-model="deploy.type" name="deploy_type" value="4" ng-change="typeChange()">
                                                <i></i>
                                                Revert to revision
                                            </label>
                                        </div>
                                        <div class="radio inline radio-buttons m-r-10">
                                            <label class="ui-checks">
                                                <input type="radio" ng-model="deploy.type" name="deploy_type" value="3" ng-change="typeChange()">
                                                <i></i>
                                                Fresh upload
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <p ng-if="deploy.type == 3">
                                    <i class="zmdi zmdi-info-outline zmdi-hc-fw"></i> All files will be uploaded to the server. Files will be updated if they already exists.
                                </p>

                                <div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="text-muted">
                                                        Revision to be deployed
                                                    </p>
                                                    <div class="p-30" ng-if="gettingLatest">
                                                        <div class="loader" style="width: 60px">
                                                            <svg class="circular" viewBox="25 25 50 50">
                                                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="list-group" ng-if="!gettingLatest">
                                                        <div class="list-group-item">
                                                            <span class="pull-right"><code>{{latestCommit.sha | sha}}</code></span>
                                                            <strong>{{latestCommit.message}}</strong> <br>
                                                            {{latestCommit.author}} committed on {{latestCommit.time | amFromUnix | amDateFormat : "MMM DD, YYYY"}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <button type="submit" class="btn btn-primary btn-rounded m-r-10"
                                                ng-disabled="gettingLatest || processing || form.$invalid">
                                            {{processing ? 'Applying for deploy' : 'Deploy'}}
                                        </button>
                                        <div class="space10"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>