<div class="page-view">
    <div class="container section home-page">

        <div class="row">
            <div class="col-md-12 col-md-push-">
                <div style="background-color: transparent; background-image: url(/assets/img/delivery-image.png);background-position: center left; background-repeat: no-repeat; margin-top: 10px;">
                    <div class="row">
                        <div class="col-md-7 col-md-push-5">
                            <div style="padding: 50px 0;">
                                <h3 class="no-m-t no-p-t font2">Doorstep delivery within 24 hours</h3>
                                <p style="font-size: 16px">We will deliver your SIM card at your doorstep with hassle free documentation & quick activation process.
                                    Browse through 1000's of prepaid / postpaid mobile numbers with great start-up offers</p>

                                <p style="font-size: 16px"
                                   class="font2">
                                    Fancy numbers, Porting, Recharging at one place.
                                </p>
                                <a href="/prepaid/fancy-numbers"
                                   ng-click="gt()"
                                   class="btn btn-danger btn-flat">Browse fancy numbers
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center font2 title-line">
                    <span>Download our app</span>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="download-app">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <div>
                                <div class="font2 text-center">
                                    <img src="/assets/img/numberbazaar-app.png"
                                         style="width: 100%"
                                         alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="r-s">
                                <h4 class="font2 no-m-t">Experience numberbazaar</h4>
                                <p>
                                    Do mobile recharge, DTH topup <br>and browse through numbers at your fingertips
                                </p>
                                <p>
                                    <a href="https://play.google.com/store/apps/details?id=com.numberbazaar.app"
                                       title="download app from google play store">
                                        <img src="/assets/img/generic/download-app-google-store.png"
                                             alt="">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space20"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center font2 title-line">
                    <span>Services we offer</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="font2 text-center">
                    <div class="i i-prepaid"></div>
                    <h3 class="font2">
                        Prepaid connection
                    </h3>

                    <p>
                        A mobile connection which is recharged every time with a top-up as per customer usage is termed as Prepaid. You get options of Great startup plans &amp; huge database of mobile numbers to select from.
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="font2 text-center">
                    <div class="i i-postpaid"></div>
                    <h3 class="font2">
                        Postpaid connection
                    </h3>

                    <p>
                        A connection that comes with a month billing cycle which needs to be paid only after usage is termed as Postpaid. Save upto 40% on your monthly spend by switching to postpaid. Get great offers & benefits on our start-up plans.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="font2 text-center">
                    <div class="i i-mnp"></div>
                    <h3 class="font2">
                        Mobile number portability
                    </h3>

                    <p>
                        Change your operator without changing your mobile number is the process of MNP. Switch to more efficient network in prepaid or postpaid &amp; enjoy doorstep services.
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="font2 text-center">
                    <div class="i i-rtp"></div>
                    <h3 class="font2">
                        Ready to port
                    </h3>

                    <p>
                        Special numbers which are already in use by some of the individuals across india are up for sale by them. Grab the best fancy number of your choice at reasonable price without the hassle of ownership transfer.
                    </p>
                </div>
            </div>
        </div>

        <div class="space20"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center font2 title-line">
                    <span>Happy Customer Testimonials</span>
                </h3>
            </div>
        </div>
        <div class="space20"></div>
        <div class="space20"></div>

        <div class="row">
            <div class="col-md-4">
                <h4>
                    Madan Ashok Bhosale
                </h4>
                <p>
                    it was a near shock when i searched & got my present number's last 9 digits matching mobile number at a very reasonable cost. They truly define Choice mobile number selection. Good Experience & good service.
                </p>
                <p class="text-muted pull-right">
                    — New connection Customer
                </p>
                <div class="clear"></div>
            </div>
            <div class="col-md-4">
                <h4>
                    Saurabh .K
                </h4>
                <p>
                    I got last 7 digits matching of my mobile number in prepaid. They gave me doorstep delivery and activated within hours. Good experience.
                </p>
                <p class="text-muted pull-right">
                    — New connection Customer
                </p>
                <div class="clear"></div>
            </div>
            <div class="col-md-4">
                <h4>
                    Renuka Jhaveri
                </h4>
                <p>
                    My number got ported successfully within 5 Days of collection of documents from my home. Its good to get doorstep service now for simcard too. I'm Delighted.
                </p>
                <p class="text-muted pull-right">
                    — MNP Customer
                </p>
                <div class="clear"></div>
            </div>
        </div>

        <div class="space20"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center font2 title-line">
                    <span>Figures still counting</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="home-m">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="testimonial-m">
                                <h4>
                                    100k
                                </h4>
                                <p>
                                    Searches made
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="testimonial-m">
                                <h4>
                                    15k
                                </h4>
                                <p>
                                    Connections sold
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="testimonial-m">
                                <h4>
                                    25k
                                </h4>
                                <p>
                                    Customers serviced
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="testimonial-m">
                                <h4>
                                    3000k
                                </h4>
                                <p>
                                    Recharges made
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>