// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$ng-primary: mat.define-palette(mat.$light-blue-palette);
$ng-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-theme: mat.define-light-theme((
  color: (
    primary: $ng-primary,
    accent: $ng-accent,
    warn: $ng-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 21px;
  //background-color: ghostwhite;
}

p {
  //line
}

.mr2 {
  margin-right: 10px;
}

.footer {
  background: white;
  /* width: 100%; */
  /* margin: 0px 55px; */
  position: fixed;
  padding: 10px 10px;
  bottom: 0;
  left: 50px;
  right: 0;
  z-index: 2;
  //border-top: solid 1px #eee;
  border-top: solid 1px #9e9e9e;
}


//materail overrides

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 19px;
  padding-bottom: 12px;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 27px;
}

.mat-mdc-dialog-container .mdc-dialog__content {
  font-family: inherit !important;
}

.mdc-button {
  font-size: 16px;
}

.mat-mdc-raised-button {
  color: white !important;
}

[mat-flat-button] {
  color: white !important;
}

mat-dialog-content {
  color: black !important;
  font-weight: initial !important;
}

.mat-mdc-dialog-container .mdc-dialog__content {
  letter-spacing: 0px !important;
}

.mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  max-width: 154.333333% !important;
}

.mat-toolbar, .mat-drawer-content {
  background-color: white;
}

.mat-drawer {
  background-color: ghostwhite;
}

mat-card {

}

.mat-mdc-table {
  box-shadow: none;
  border-top: solid 1px #e0e0e0 !important;
  border-bottom: solid 1px #e0e0e0 !important;

  tr {
    td:first-child, th:first-child {
      padding-left: 30px !important;
    }
  }
}

mat-hint {
  font-size: 12px;
  line-height: 13px;
}

// boostrap overrides
.bootstrap-wrapper .container {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0;
  margin-left: 0px;

  mat-form-field{
    width: 100%;
  }
}
.bootstrap-wrapper .row{
  margin-right: -5px;
  margin-left: -5px;
}
.bootstrap-wrapper .col-1, .bootstrap-wrapper .col-2, .bootstrap-wrapper .col-3, .bootstrap-wrapper .col-4, .bootstrap-wrapper .col-5, .bootstrap-wrapper .col-6, .bootstrap-wrapper .col-7, .bootstrap-wrapper .col-8, .bootstrap-wrapper .col-9, .bootstrap-wrapper .col-10, .bootstrap-wrapper .col-11, .bootstrap-wrapper .col-12, .bootstrap-wrapper .col, .bootstrap-wrapper .col-auto, .bootstrap-wrapper .col-sm-1, .bootstrap-wrapper .col-sm-2, .bootstrap-wrapper .col-sm-3, .bootstrap-wrapper .col-sm-4, .bootstrap-wrapper .col-sm-5, .bootstrap-wrapper .col-sm-6, .bootstrap-wrapper .col-sm-7, .bootstrap-wrapper .col-sm-8, .bootstrap-wrapper .col-sm-9, .bootstrap-wrapper .col-sm-10, .bootstrap-wrapper .col-sm-11, .bootstrap-wrapper .col-sm-12, .bootstrap-wrapper .col-sm, .bootstrap-wrapper .col-sm-auto, .bootstrap-wrapper .col-md-1, .bootstrap-wrapper .col-md-2, .bootstrap-wrapper .col-md-3, .bootstrap-wrapper .col-md-4, .bootstrap-wrapper .col-md-5, .bootstrap-wrapper .col-md-6, .bootstrap-wrapper .col-md-7, .bootstrap-wrapper .col-md-8, .bootstrap-wrapper .col-md-9, .bootstrap-wrapper .col-md-10, .bootstrap-wrapper .col-md-11, .bootstrap-wrapper .col-md-12, .bootstrap-wrapper .col-md, .bootstrap-wrapper .col-md-auto, .bootstrap-wrapper .col-lg-1, .bootstrap-wrapper .col-lg-2, .bootstrap-wrapper .col-lg-3, .bootstrap-wrapper .col-lg-4, .bootstrap-wrapper .col-lg-5, .bootstrap-wrapper .col-lg-6, .bootstrap-wrapper .col-lg-7, .bootstrap-wrapper .col-lg-8, .bootstrap-wrapper .col-lg-9, .bootstrap-wrapper .col-lg-10, .bootstrap-wrapper .col-lg-11, .bootstrap-wrapper .col-lg-12, .bootstrap-wrapper .col-lg, .bootstrap-wrapper .col-lg-auto, .bootstrap-wrapper .col-xl-1, .bootstrap-wrapper .col-xl-2, .bootstrap-wrapper .col-xl-3, .bootstrap-wrapper .col-xl-4, .bootstrap-wrapper .col-xl-5, .bootstrap-wrapper .col-xl-6, .bootstrap-wrapper .col-xl-7, .bootstrap-wrapper .col-xl-8, .bootstrap-wrapper .col-xl-9, .bootstrap-wrapper .col-xl-10, .bootstrap-wrapper .col-xl-11, .bootstrap-wrapper .col-xl-12, .bootstrap-wrapper .col-xl, .bootstrap-wrapper .col-xl-auto{
  padding-right: 5px;
  padding-left: 5px;
}

// end v

// custom classes
.page {
  padding: 0 30px;

  .header {
    margin: 15px 0;

    > mat-icon {
      margin-right: 10px;
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    .btns {
      margin-left: 20px;

      > * {
        margin-right: 10px;
      }
    }
  }

  .subheader {
    margin-top: -6px;
    color: #666;
    margin-bottom: 20px;
  }
}


.table2 {
  //width: calc(100% - 40px);
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  border: solid 1px #e0e0e0;
  border-radius: 9px;
  overflow: hidden;

  table {
    border-top: none !important;
    border-bottom: none !important;
    //min-width: initial;
    tr:first-child > * {
      //border-top: none !important;
    }

    tr {
      td:first-child, th:first-child {
        padding-left: 20px !important;
      }
    }
  }
}

